[2013-09-11 01:04] zekenie opened #1 "Ajax calls"
Are they there by design or a relic from the initial use case? coffeescript file 326

[2013-09-11 02:30] ajb commented on #1
a relic -- but i'm thinking we should provide some implementation guidance... it's not just as simple as sending everything up and hoping that it gets there. since we don't want for the server when adding a new field, we have to track new fields when they're first sent to the server and make sure they get updated with a proper ID once the response is returned.

that, or we can just remove `saveFor

[2013-09-11 02:30] ajb opened #2 "docs"

[2013-09-11 02:30] ajb opened #3 "component-ize"
if this turns out to be silly, at the very least we should expose less variables.

[2013-09-11 02:33] ajb opened #4 "remove jquery ui dependency?"
http://farhadi.ir/projects/html5sortable/

[2013-09-11 02:37] ajb commented on #4
https://github.com/yields/sortable

[2013-09-11 12:37] zekenie commented on #1
They'll have to implement on their own anyway, right? I suppose we could pass in certain save params to the constructor like path method and cb.

[2013-09-11 15:28] zekenie opened #5 "Can't add options"
To select menus or radio buttons. No errors in console.

[2013-09-11 15:28] zekenie opened #6 "Remove admin only option"

[2013-09-11 17:09] #5 closed, assigned to nobody

[2013-09-11 17:10] #3 closed, assigned to nobody

[2013-09-11 17:10] #4 closed, assigned to nobody

[2013-09-11 17:10] ajb commented on #4
not happening at the moment

[2013-09-11 18:06] #6 closed, assigned to nobody

[2013-09-11 18:06] ajb opened #7 "More events"

[2013-09-11 20:51] ajb opened #8 "Customize order of fields in sidebar"

[2013-09-12 00:21] ajb opened #9 "pass options to backbone main view"

[2013-09-12 05:30] dlee opened #10 "Add License"
Please add a License.

[2013-09-12 05:53] rastasheep opened #11 "Paragraph area size"
Nothing happens when i tried to change paragraph's text area size.

Element gets right class, e.g. "rf-size-large" but there is no changes.

[2013-09-12 12:25] HaNdTriX commented on #10
+1

[2013-09-12 16:01] ajb commented on #10
Done, thanks for the reminders.

[2013-09-12 16:01] #10 closed, assigned to nobody

[2013-09-12 16:14] #9 closed, assigned to nobody

[2013-09-12 16:15] #2 closed, assigned to nobody

[2013-09-12 16:15] #1 closed, assigned to nobody

[2013-09-12 16:15] ajb commented on #1
See what I've done with it now, and let me know if you have ideas for improvement.

[2013-09-12 18:13] ajb opened #13 "customize data mappings"

[2013-09-13 06:19] RUPOJS commented on #7
@adamjacobbecker can u give more details??

[2013-09-13 20:25] ajb opened #14 "'Cannot read property top of undefined' after removing field"

[2013-09-15 04:12] bitmage opened #15 "Document Data Format"
Hey, could you add some documentation on the format of the data output?  Some examples would be handy too.  The UI looks nice, the data format is my last remaining question.  :-)

[2013-09-15 04:13] ajb commented on #15
Yep. I'm working on making the data format customizable, too. (it's on a feature branch if you want to take a look.)

For now, you should be able to inspect the output in the console.

[2013-09-16 09:26] lukeholder opened #17 "Building a product on formbuilder"
I plan to build a standalone form builder application on formbuilder, and would like to contribute back to core and not make a fork. What are you thoughts around the follow additional features:
1. Page Break type in addition to the section type
2. Form Properties (options for the whole form not just the fields)
3. If / then definitions (if user selects an option, fields appear and disappear)

I ha

[2013-09-18 00:08] ajb commented on #17
Hey Luke, thanks for reaching out. I can't tell you how excited I am that you want to build an application on top of Formbuilder.

All of those features sound like things that would be great to have, and because of Formbuilder's architecture, you should be able to implement them without touching too much of the Formbuilder core. (i.e. for a page break, just fork and modify `fields/section_break.co

[2013-09-18 00:35] #13 closed, assigned to nobody

[2013-09-18 00:39] ajb commented on #7
Yes -- a developer should be able to listen for certain events so that they can easily customize Formbuilder without overriding its default methods.

Let's leave this issue as a place to discuss which events should be added -- right now the only one is `form.on 'save'`

[2013-09-18 00:44] #11 closed, assigned to nobody

[2013-09-18 00:48] #15 closed, assigned to nobody

[2013-09-18 01:02] bitmage commented on #15
Perfect, that's just what I was looking for.

I just created a form renderer as a twitter flight component:

https://github.com/torchlightsoftware/flight-forms

As I suspected, our data formats are somewhat similar.  If you're interested, we could work to synch up the data formats so the tools would interop well.

Edit:

Here's some example data from mine:

https://github.com/TorchlightSoftware/fl

[2013-09-19 13:44] drewda commented on #4
@adamjacobbecker, I'm just starting to learn my way around the formbuilder code and am curious to know, is the drag-and-drop sortable list the only place where jQuery UI is used?

[2013-09-19 23:49] drewda opened #18 "instructions: allow for multiple paragraphs and rich text"
When form creators want to include instruction text, looks like the only option available to them at the moment is a section break with a small amount of text. How about allowing longer amounts of text, with paragraph breaks and rich formatting (well, at least bold and italics)? Maybe with Markdown formatting?

[2013-09-21 18:26] ajb commented on #18
Interesting... right now I'm just passing it through the `simple_format` helper which converts newlines to `<br>`s.

I'm not really a fan of adding a markdown parser to the list of dependencies, but we could allow HTML and just render it that way. Formbuilder's users, in my mind at least, aren't the kinds of folks who know Markdown.

[2013-09-21 18:26] ajb commented on #4
yes sir.

[2013-09-23 19:38] drewda commented on #18
I'm also leery of suggesting that non-technical users learn Markdown, but
I've run into so many issues in the past with CKEditor and similarly
weighty WSYWIG editor libraries that I'm almost thinking it's worth asking
users to at least learn the Markdown syntax for bold and italics.

On Sat, Sep 21, 2013 at 11:26 AM, Adam Becker notifications@github.comwrote:

[2013-09-27 01:14] ajb commented on #18
Closing this -- you're free to implement it server-side however you'd like, and as it is, Formbuilder supports HTML in the field descriptions. Let me know if you think I've missed anything.

[2013-09-27 01:15] #18 closed, assigned to nobody

[2013-09-27 01:16] #17 closed, assigned to nobody

[2013-09-27 14:40] #8 closed, assigned to nobody

[2013-09-27 14:40] #14 closed, assigned to nobody

[2013-09-27 16:23] drewda commented on #18
Sounds good. Thanks, @adamjacobbecker

[2013-10-03 19:23] nikkobautista opened #19 "Loading existing JSON"
Is there a way to load an existing JSON form configuration? E.G., I save the built forms into my DB, then the user can edit it and it will load the form again.

[2013-10-03 19:24] nikkobautista commented on #19
Ah ignore this, I just saw the example with "bootstrapData". Thanks!

[2013-10-03 19:24] #19 closed, assigned to nobody

[2013-10-03 19:37] nikkobautista opened #20 "Dissabling "autosave""
Is there an option for disabling this? I only want it to save whenever the button is clicked.

[2013-10-04 13:11] adityagodbole opened #21 "Live mode"
Hi,
I'm not sure how to start a discussion thats neither an improvement request or a bug, so just creating an "issue".
I have forked formbuilder to add a "live" mode where you can render the form such that it can be filled in by a user and submitted. I've been hacking at this for a couple of days and the changes will probably a bit rough around the edges. I would like any feedback on whether the c

[2013-10-04 14:53] ajb commented on #21
Thanks for opening this issue -- this seems like a feature that if you're ok with rendering your forms via javascript, is great to have.

I've taken a look at the changes in your fork. What do you think of subclassing `Formbuilder` to something like `LiveFormbuilder`? If you did that, I would have no problem merging this into master. As it stands, the code is a little intrusive for me.

Serious :t

[2013-10-04 15:46] ajb commented on #20
No option currently. I'll leave this open and try to add this in, as it seems like a good option to have.

[2013-10-13 18:00] adityagodbole commented on #21
I'm currently making changes in order to get it working for my project at work. I'll get down to refactoring it into a separate class once it's working fine internally.

[2013-10-30 01:56] hijonathan opened #25 "Improve build process and distribution"
First off, thanks for creating a cool project. I've generally had good luck with it and patched it where I could with pull requests. After spending some time with it, I think the following improvements would be really helpful:
- [x] Stricter adherence to a package system (`npm`, `bower` or `component`).
- [x] Reliable declaration of `main` for amd/commonjs peeps.
- [x] Better dependency versioning

[2013-10-30 19:37] drewda commented on #25
Nice set of suggestions for building a more mature library, @hijonathan.

With respect to modularizing Backbone code, I've had good luck with the various pieces that [Marionette](http://marionettejs.com/) offers for views, business logic, messaging, etc.

[2013-10-30 20:09] ajb commented on #25
Yes, thanks @hijonathan for all of your work with these PRs and issues! It might take me a couple days to address them all, but some quick thoughts:
- Let's use bower.

Actually fuck it, I agree with everything on your list.

[2013-10-30 20:16] hijonathan commented on #25
:thumbsup:

Glad you agree. This is a cool library, it just needs a bit of straightening up. I'm considering using it for a project of mine, and I'll submit fixes as I come to them.

[2013-10-30 20:17] ajb commented on #25
Agreed -- originally I didn't think this was something that I'd be able to extract out of our apps, so I think a lot of the deficiencies probably come from areas where it's too opinionated or something. Also has a ton of deps.

Anyway, you now have commit to this repo. Use it sparingly :)

[2013-10-30 20:22] hijonathan commented on #25
Ballin!

[2013-11-04 19:49] hijonathan commented on #25
These have been addressed in the forthcoming `0.2.0` milestone.

[2013-11-04 19:49] #25 closed, assigned to nobody

[2013-11-09 00:10] ajb opened #28 "warn when deleting field"

[2013-11-09 00:29] ajb opened #29 "lock left side when scrolling over it"

[2013-11-09 01:30] ajb opened #30 "unpost contest"

[2013-11-09 02:14] ajb opened #31 "website field should not have variable size"

[2013-12-02 03:40] imhazige opened #32 "Not work on IE8"
Hi, I have found a library to make the user be able to build form via drag and drop, this project is prefect, but have some problem to integrate to my app.

When I test on IE9, it works, ok, but for IE8, it not work, can you make it support IE8? As there are lots of users of our app is still using ie8.

And We are using bootstrap, hope this will work fine within bootstrap.

Good jobs and Thanks.

[2013-12-06 19:41] #30 closed, assigned to nobody

[2013-12-15 20:49] muzaffaralii opened #33 "how to add a new a new set of properties like the one fieldOption.options, I want to add something like fieldRule.rules"

[2013-12-16 00:00] gladson opened #34 "Multi Language?"

[2013-12-16 17:31] gladson commented on #7
I would like to see an event, form.on 'click_save'.
For that it is not saving automatically, allowing the User choice.

[2013-12-16 18:55] ericabiz opened #35 "Submit button?"
We're looking at using this and I was curious about the lack of a submit button option. When enabling users to build their own forms, it seems as if it would make sense for them to be able to build their own submit button, align it left/right/center, and change the text and color.

Is there a reason this isn't in there? (I'm happy to pull request it should we use this project, but was wondering wh

[2013-12-16 18:57] ajb commented on #35
No reason. Go for it!

[2013-12-16 19:31] ericabiz commented on #35
Cool--thank you for the quick response!

[2013-12-16 19:31] #35 closed, assigned to nobody

[2013-12-18 21:18] JSlote opened #36 "Grunt not functioning correctly"
On a fresh build environment, Grunt doesn't write any JS to `dist/`. `grunt watch` also doesn't work - it returns the CLI to the user immediately, instead of continuing to watch the directories.

[2013-12-20 05:50] JSlote commented on #36
Ok I fixed the issues here: https://github.com/JSlote/formbuilder/blob/c3950257248256f7e6f4c42e440299b0a8df6dfe/Gruntfile.coffee

I'm still learning git and don't feel confident in a full pull request, but the above should make things work again. Let me know if it would be better if I submit a pull request. Thanks!

[2013-12-24 04:59] jojoluzifer22 opened #37 "How to Add ID for once attibute"
etc,

<input type="text" id="1">

![untitled-2](https://f.cloud.github.com/assets/5371533/1804610/a377a95a-6c5d-11e3-87c2-29add3351a9d.png)

i want to add ID this

Could you advice me to do that

[2013-12-24 05:01] JSlote commented on #37
It's a backbone.js thing. Google "backbone cid"

[2013-12-24 05:01] JSlote commented on #37
Also, this is not an issue

[2013-12-24 05:34] jojoluzifer22 commented on #37
Sorry , I'm start to load this and i have no idea what it's .

[2013-12-28 21:02] JakeAustwick opened #38 "Development"
Apologies in advance as I'm pretty sure it's me not used to grunt development, but I can't seem to get my head around how you have it all setup.

I've downloaded the repo, installed the npm and run the bower command.

Now if I run `grunt watch`, I just get:

[code]

I've tried running the other grunt commands, but I just can't seem to get my changes reflected in index.html. Am I supposed to change

[2013-12-28 21:13] JSlote commented on #38
Hey Jake, I ran into the same problem and filed an issue a couple days ago: https://github.com/dobtco/formbuilder/issues/36

The gruntfile is in fact broken. My fork has a fixed version if you'd like to clone it instead: https://github.com/JSlote/formbuilder

If you'd rather just replace the gruntfile and start developing on the main repo, here's the fixed gruntfile blob: https://github.com/JSlote

[2013-12-28 22:08] JakeAustwick commented on #38
Perfect, I'm using your fork :)

[2013-12-29 05:23] ajb commented on #38
i'll work on fixing the gruntfile in this main repo.

[2013-12-30 15:24] amirpaia opened #40 "Mouse pointer place on rtl drag"
I change direction of form builder and now i drag field from right panel to left panel. Drag & drop is Ok but my problem is [position of mouse pointer and position of box while] dragging. On start dragging, draggable box placed right of mouse pointer whereas I want item placed on left side of mouse pointer.

I found draging item is a div with "response-field-draggable-helper" class. Position of th

[2013-12-30 15:57] ajb commented on #37
I'm sorry, we can't help you if you completely change your question instead of closing it and opening a new one.

As far as adding an ID attribute goes, you could add an input field here: https://github.com/dobtco/formbuilder/blob/gh-pages/src/templates/edit/common.html that asks for an ID.

[2013-12-30 15:57] #37 closed, assigned to nobody

[2013-12-30 15:59] ajb commented on #34
Good idea, although I don't know when I will personally be able to take the time to work on this.

If you'd like to take a crack at it, most of the English language strings are in here: https://github.com/dobtco/formbuilder/tree/gh-pages/src/templates

You could try moving the strings into an i18n file, and then referencing them in the templates.

[2013-12-30 15:59] #34 closed, assigned to nobody

[2013-12-30 16:00] ajb commented on #32
Hi,

Thanks for opening this issue. IE8 was not something I was targeting, but I'd be happy to look into why it's not working.

Can you provide any more info? Does it not render at all? Or do certain features not work?

[2013-12-30 16:01] #21 closed, assigned to nobody

[2013-12-30 16:02] #33 closed, assigned to nobody

[2013-12-30 16:02] ajb commented on #33
Hi, I'm not really sure how to help with the information you've provided. Sorry!

[2013-12-30 16:07] ajb commented on #40
Can you provide a screenshot or screencast? I'm having trouble understanding your first paragraph.

Thanks!

[2013-12-30 17:11] #36 closed, assigned to nobody

[2013-12-31 07:31] amirpaia commented on #40
Please see this screenshot.
![formbuilder](https://f.cloud.github.com/assets/1608298/1826169/e17fdcce-71ec-11e3-90ca-eb9f51fe2c79.jpg)

sorry for my english. (:

[2014-01-04 23:10] AkaAnto opened #41 "Override Templates"
Hi, love your formbuilder, is really amazing. I would like to know where or how can i overrride the given templates for customization. A simple example would be great, greetings and congratulations on your great work.

[2014-01-04 23:18] JSlote commented on #41
**If you're talking about customizing the fields:**

You currently have to just edit the fields in `src/scripts/fields/`

If you would like to disable certain fields, my fork (https://github.com/JSlote/formbuilder) has added that functionality.

**If you're talking about customizing the DOM:**

The templates are in `src/templates/`

[2014-01-05 00:30] ajb commented on #41
Yeah -- I've been thinking a lot about this plugin, and how far to go WRT customization.

My current inclination is to remove a lot of these customization features from the codebase, and instead let folks fork the library and modify it for their specific needs. There's no way we'll be able to cover every use case with configuration options alone, and once you start making everything "dynamic", it'

[2014-01-05 00:30] #41 closed, assigned to nobody

[2014-01-05 05:53] AkaAnto commented on #41
Thank you guys for your quick response. And yeah, i am interested in both cases (DOM and fields customization). I tried what you said before making the question but nothing seems to change, i made changes on the templates and it didnt have and effect. Let try it again and check your repo for ilumination. Thanks again guys.

[2014-01-05 07:40] AkaAnto commented on #41
Sorry but i dont seem to get it working. I dont have much experience with coffeescript, for what i know (probably wrong) i modify the files in src/scripts/fields and then run coffee --watch --compile *.coffee inside  src/scripts/fields . This compiles all files but when i re run the index.html file nothing seems to change. Is there a step i am missing ?. Thkans for your time and sorry again.

[2014-01-05 07:41] ajb commented on #41
you'll have to run `grunt dist` to build the concatentated & minified files required in `index.html`, or change the links in `index.html` to references the non-minified assets.

[2014-01-05 22:01] AkaAnto commented on #41
Hey man, thanks for your reply. I think I am missing the big picture here because im dealing with a lot of new (for me) js tech and I still dont know most off what i am doing here. Until now I have done the following in order to change  the add  new field tap label t to "Add Field"  without success:
1) Downloaded this repo.
2) Open File src/templates/partials/left_side.html and edited it so it loo

[2014-01-05 22:03] AkaAnto commented on #41
I Dont know why the html i paste in step 2 is missing, anyway i just change one phrase for another in such file.

[2014-01-06 03:58] JSlote commented on #41
You will not see changes in your browser until the templates are processed by Grunt (worth a google), a popular Node.js task runner. It converts coffeescript to js, concatenates files, minifies the combined source, etc. All grunt commands are run in the working directory of the project. I.e. not in a particular folder like `src` or `dist`. Just follow the instructions in the bottom of the readme a

[2014-01-07 02:12] AkaAnto commented on #41
Thanks for your answer, i ll do what you say.

[2014-01-07 05:23] AkaAnto commented on #41
Finally got it working, it turns out among other things my bower wasnt working properly. Now I have a better understanding of how this type of project (npm/bower/grunt) works and that made me love it even more.  Thanks again for your responses and patience.

[2014-01-07 10:36] timgluz opened #42 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of dobtco/formbuilder!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, _224_ of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of them don

[2014-01-07 14:32] #42 closed, assigned to nobody

[2014-01-13 11:47] ddokter opened #43 "Documentation is somewhat rudimentary"
Some examples of typical use-cases would be nice. I just added the first one to the Wiki, but there's obviously many more. In case you have some rough examples and limited time, I'm willing to add them to the Wiki.

[2014-01-15 05:53] sandeepgarg opened #44 "Form option like form title, form options, styling, javascript"
There should be form option like form title, option to add css and javascript so that one can identify particular form and user can customize design of the form

[2014-01-15 20:28] aviatrix commented on #20
any updates on this ?

This is definitely something that should be integrated as soon as possible.

[2014-01-17 20:48] jzapanta-anselm commented on #20
Commenting out this line 276-278 (approximately) on formbuilder.js appears to "disable" autosave as a workaround:

setInterval(function() {
        return _this.saveForm.call(_this);
      }, 5000);

[2014-01-17 21:47] ghost opened #46 "Changing mapping FIELD_TYPE breaks drag & drop"
after playing around with the library i decided to customize the mappings to match my schema (and for better naming), but i dicovered that after i change `FIELD_TYPE: 'field_type'` to anything else breaks functionality. More specifically when i drag & drop element it display just the button i dragged in the console there is an error

[code]

on this line

[code]

and i don't get why would it break

[2014-01-18 18:08] rposborne opened #47 "Add HTML 5 Datalist Support"
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist

Would you be interested in adding this field to the core?

I will be more than happy to do a PR.

[2014-01-18 21:32] JSlote commented on #46
The issue is that the mappings are hard-coded into the templates. The issue is fixed on my fork: github.com/JSlote/formbuilder but I haven’t had time to submit a pull request.

[2014-01-19 18:41] #20 closed, assigned to nobody

[2014-01-19 18:44] ajb commented on #47
To be honest, I've never used this element before, and since it lacks IE9 and **Safari** support, I don't really think it's something we should encourage the use of.

If you want to make a "plugin" that adds a datalist form field (just follow [this format](https://github.com/dobtco/formbuilder/blob/gh-pages/src/scripts/fields/address.coffee)), I'll be more than happy to link to it from the README.

[2014-01-19 18:44] #47 closed, assigned to nobody

[2014-01-19 18:45] ajb commented on #43
Thanks for adding that to the wiki. If you want to add more, I'll be most appeciative, although I had to remove the 2nd example in there, since it talks about modifying the Javascript directly.

[2014-01-19 18:45] #43 closed, assigned to nobody

[2014-01-19 18:45] #38 closed, assigned to nobody

[2014-01-19 18:53] #46 closed, assigned to nobody

[2014-01-19 18:55] ajb commented on #46
This is mostly solved, although there's still a hard-coded 'field_options' hash since we're not actually using getters and setters that can handle the dot notation.

[2014-01-19 18:58] #31 closed, assigned to nobody

[2014-01-19 19:32] #29 closed, assigned to nobody

[2014-01-19 19:48] #28 closed, assigned to nobody

[2014-01-22 08:59] zeroven commented on #32
![image](https://f.cloud.github.com/assets/1636635/1972169/551a74ca-8343-11e3-99cf-43478316263d.png)
Error such as imges up!

[2014-01-22 09:04] zeroven commented on #32
In verdor.js   line 834
        document.addEventListener( "DOMContentLoaded", completed, false );
line 837
window.addEventListener( "load", completed, false );

IE8   not supported

[2014-01-22 09:15] zeroven commented on #32
![image](https://f.cloud.github.com/assets/1636635/1972287/9a53c440-8345-11e3-8df5-4c0af3ed3c08.png)

 the following lists is not supported in IE 8  :
jQuery.now()
jQuery.isArray
window.getComputedStyle()
key.concat( key.map( jQuery.camelCase ) );

[2014-01-22 18:12] sylvesterwillis opened #48 "client_side_validations.git repository not found"
During the execution of 'bundle install' I came across the error
fatal: remote error:
  Repository not found.
Git error: command `git clone
'git://github.com/adamjacobbecker/client_side_validations.git'
"/home/swillis16/.rvm/gems/ruby-2.0.0-p353@procure-io-community/cache/bundler/git/client_side_validations-1187a622c9e045f4543925f236f53dd5ae19d343"
--bare --no-hardlinks` in directory /home/swillis

[2014-01-22 18:14] ajb commented on #48
I'm guessing you meant to open this issue in the [Formbuilder-rb repo](https://github.com/dobtco/formbuilder-rb)? Do you mind closing it and creating it over there?

[2014-01-22 18:16] #48 closed, assigned to nobody

[2014-01-22 18:20] sylvesterwillis commented on #48
Sorry about the mixup. The issue occurred in the Procure-io repo.

[2014-01-22 18:22] aviatrix commented on #32
@Zeroven,

Try editing vendor.js manually, remove the jquery that is bundled with it and add an older version of jQuery maybe 1.6 will work.

[2014-01-23 00:43] zeroven commented on #32
@aviatrix thks

[2014-01-24 02:16] zeroven commented on #32
@aviatrix do you have an IE's supported version?  and would you please make one targ and push it?
 If not, I will modified one targ version for IE later
CC @adamjacobbecker

[2014-01-24 02:59] ajb commented on #32
Hey guys, happy to review and merge any PRs that come out of this, but IE8 compatibility is not something I'm going to be able to work on myself.

[2014-01-25 12:17] davidgorges opened #49 "Support multiple date formats"
The Date field currently only supports
MM / DD / YYYY.

Another needed format would be:
DD.MM.YYYY (Europe)

[2014-01-26 09:53] zeroven commented on #32
@adamjacobbecker Hi,IE8 compatibility on my local machine is now work well!  if U update a new version fixed this issue. Give me a msg please.

I use jquery 1.8.3  ,then  add IE's events binding method to fix the issue

[2014-01-26 15:54] ajb commented on #32
A pull request would be much appreciated. Until then, I'm going to close this issue. Thanks!

[2014-01-26 15:54] #32 closed, assigned to nobody

[2014-01-30 16:16] peterladis opened #50 "When I add a new mapping type, I can't compile?"
Is this ability doable?

[2014-01-31 21:54] CWSpear opened #51 "Use Form to Collect Data"
Is there no way with this tool to rebuild the form for actual use?

I couldn't find anything in the docs/other issues.

It seems like there should be an option to display the form for use (i.e. to collect data) and an option of where to post it. I understand we have to handle all that, but we shouldn't have to manually rebuild the form when it should be _trivial_ to do in the JavaScript since it h

[2014-01-31 22:49] ajb commented on #51
Here's an old issue for it: https://github.com/dobtco/formbuilder/issues/21

If you want to take a crack at it, I'd be more than happy to answer any questions you may have. I agree that it should be part of the library, but at this point I can't make any promises about _when_ I could ship such a feature.

[2014-02-02 21:28] peterladis commented on #50
I see whats happening. If i add a new mapping to the middle of the mappings it won't compile. If I add it to the end in the main.coffee file..it will compile..however it puts it in the wrong spot..i have to manually modify the JS file

[2014-02-09 06:34] gsxdsm commented on #32
@zeroven Did you ever submit a PR for this?

[2014-02-09 06:35] gsxdsm opened #52 "Documentation example doesn't work"
var formbuilder = new Formbuilder('#formbuilder');

Doens't seem to work (model error). Have to use:

var formbuilder = new Formbuilder({ selector: '#formbuilder' });

[2014-02-09 06:50] tad3j opened #53 "Default Input Value"
I was wondering if there is a way to set default input value when creating a form?

[2014-02-09 17:14] #52 closed, assigned to nobody

[2014-02-18 04:14] sidburgess opened #55 "Table element"
The form builder needs a table element.

[2014-02-18 04:15] sidburgess opened #56 "Page Break"
Needs multi-page support.

[2014-02-18 04:17] sidburgess opened #57 "Group fields"
Ability to group fields. This would also allow you to copy a group.

[2014-02-21 02:45] sas1ni69 commented on #55
Hi @sidburgess could you be a bit more specific please? What can this table do?

[2014-02-23 16:09] ajb commented on #55
Sorry @sas1ni69, this is an internal issue that got opened in the wrong repo. However if we do add this Table element, you can be assured it will be contributed back to this repo as well. :stars:

[2014-02-23 16:09] #55 closed, assigned to nobody

[2014-03-03 13:13] reru opened #58 "Max number of fields"
Hi, thank you for the plugin! How can I set a max number of fields for the form? When I create a form the max number of fields is x, so I would like to show an alert when x is reached an block the inserting option. Is it possible? Thanks

[2014-03-04 10:26] reru commented on #19
Hi, I would like to do the same thing, but I can't make it work. How did you do it? Thank you very much.

[2014-03-04 12:19] reru commented on #19
Ignore my comment. Got it. Thank you.

[2014-03-06 20:30] bdidemus opened #59 "Creating control dependencies"
I'd like to see a feature implemented where you can specify a form control is dependant on a certain drop down or radio button option. For example If I select an option for a drop down it shows me a new text field below it that was hidden.

I'm trying to implement this but I'm new to coffee script and am a bit confused on how I could populate an select box on the left side with a list of all the r

[2014-03-06 20:31] JakeAustwick commented on #59
I'm also very interested in this feature.

[2014-03-10 05:19] jinal opened #60 "Is there a way to support multiple-columns in the same row?"
Wondering if anyone has modified / extended this gem to support multip-columns in the same row? Any thoughts on how complex would that be?

Thanks

[2014-03-10 14:50] pesar368 opened #61 "Save"
How can i Save my form as html in other file?
And Save button do something in server side?

[2014-03-10 14:51] pesar368 opened #62 "Register Field"
how can i use this to Add Custome Field ?
Formbuilder.registerField()

[2014-03-10 14:53] emphilip commented on #61
Ive written something that allows for rendering the html form from form
builder and then serializes form responses into a json string. If you can
wait until tonight I can provide a link to that
On Mar 10, 2014 10:50 AM, "pesar368" notifications@github.com wrote:

[2014-03-10 15:01] pesar368 commented on #61
thank you alot  emphilip
sure Waiting

[2014-03-10 18:40] nkapinga opened #63 "Documentation of formbuilder"
Where can i find the documentation of  the formbuilder? I would like to know wich options it has, for example how can i change de default language?

[2014-03-10 21:46] gsxdsm commented on #61
Look forward to that also!

On Mon, Mar 10, 2014 at 7:53 AM, Edward notifications@github.com wrote:

[2014-03-11 05:42] pesar368 commented on #62
thank for this answer :
https://github.com/dobtco/formbuilder/blob/gh-pages/src/scripts/fields/address.coffee

[2014-03-11 05:42] #62 closed, assigned to nobody

[2014-03-12 09:03] pesar368 commented on #61
Dear emphilip Please help us

[2014-03-20 18:29] abemedia commented on #57
+1

[2014-03-21 15:41] abemedia commented on #60
CSS?

[2014-03-21 15:43] jinal commented on #60
Sure. Do you know if someone has tried it. I want to see what's the preferred layout

[2014-03-21 17:12] abemedia commented on #60
Well if you just want a quick fix you could try something like this:

[code]

If however you wanted some areas in multiple columns and others not it would require grouping the fields as suggested here https://github.com/dobtco/formbuilder/issues/57

[2014-03-21 17:21] jinal commented on #60
Got it. Thanks Adam.

On Friday, March 21, 2014, Adam Bouqdib notifications@github.com wrote:

##

_Jinal Jhaveri_
(323) 839-4538
www.logn.co

http://www.linkedin.com/company/logn  https://www.facebook.com/logndotco
  http://www.twitter.com/logndotco

[2014-03-22 19:05] abemedia opened #65 "Grouping field types"
Currently it's only possible to have 2 types: inputs & non-inputs, however it would be great to be able to have an unlimited number of groups which would allow keeping it tidy when adding lots of field types by putting them into accordions or something similar.

[2014-03-28 18:59] sagikazarmark commented on #57
This requires refactoring the code, so I think it won't be available in the near future. Until then, you could use something like [this](https://gist.github.com/sagikazarmark/9840368). Since you have to process the outputting json some ways, this grouping can be processed by your code.

[2014-03-28 21:44] sagikazarmark opened #66 "Adding a field with another"
I am trying to follow the pattern mentioned in #57, so a starting and an ending fieldset element makes a group.

I would like to achieve the following: When I add a fieldset start element, a fieldset end element should be automatically added. How can I do this?

[2014-03-31 13:34] zensim opened #67 "asp.net sample with formbuilder"
Good Morning,

I am looking for a web form sample that shows how to use formbuilder. Can you please send me a link or direct me where I can see how it has been used in asp.net or mvc?

Thank You

[2014-04-03 13:35] benlooi opened #68 "Formbuilder.js snippet doesn't work"
I probably sound dumb but I followed what you guys explained.  Cut and paste the script into my html but nothing's happening.

Here's my HTML. What am I not doing right?

Don't quite understand the selector bit.
I checked my page source. Nothing except for what is here.
thanks in advance.

<!DOCTYPE html>
<html>
<head>
<title>Hello...Move Along</title>
<link doctype="text/css" rel="stylesheet" hre

[2014-04-05 12:05] fazman opened #69 "Formbuilder elements not scoped properly (multiple on one page)"
It seems that when I initiate multiple formbuilders in one document, only the tabs (Add new field / Edit Field) for the first formbuilder works.

[2014-04-10 04:41] vivekiran opened #70 "How to add 'Password' field."
How to add 'Password' field component while adding new field.

[2014-04-10 09:35] ksudheer opened #71 "how to create page with two formbuilder divisions"
IS it possible to create a page with two formbuilder divisions.
So that i can drag and drop any of the division.
One for inclusion and one for exclusion.

[2014-04-17 06:15] nishant-befree opened #72 "form builder is done, how can i use this form for my users?"
Hello,

I got this form builder & saved that form json inside db.

now i want to load that form for general use, with validation and store form data inside my db.
how is it possible for json to HTML?

[2014-04-17 06:18] capripio commented on #72
Well I've done this manually from php but you can do it by javascript!

[2014-04-17 08:40] nishant-befree commented on #72
i have to use  that data with highly usage functionality,

can you please provide any example or script reference?

[2014-04-17 08:47] nishant-befree commented on #59
i also required same functionality, i have to study more this script.

However i trying to archive this with parent-child concept, if i define current control have one parent then it may only appear with parent value is set true,

hope this works.

if you have any idea please advice.

[2014-04-17 08:52] capripio commented on #72
Well I am not sure what you exactly want. You can use if condition in js or switch/if condition to convert data to html

[2014-04-17 09:08] nishant-befree commented on #72
Asif, i need data to html, how it possible?

[2014-04-17 09:10] capripio commented on #72
static public function makeField($field) {
        switch ($field->field_type) {
            case 'section_break':
                ?>
                <tr>
                    <td colspan="2">
                        <h2 class="fcf section_break"><?php echo $field->label ?></h2>
                    </td>
                </tr>
                <?php
                break;
            case 'text':

[2014-04-17 09:16] nishant-befree commented on #72
hmm, so we have to parse form JSON manually and create form

If i found whole script that it may save my lots of time

[2014-04-17 09:20] capripio commented on #72
http://hastebin.com/koruriduro.php

[2014-04-17 09:27] nishant-befree commented on #72
yes, this HTML helper is most useful for PHP,

Let me quite play with coffeescript, trying to add another option / control property name with "parent" where i define parent control, so while use if parent control value is true then only child control appears with option property :).

[2014-04-17 09:28] capripio commented on #72
Well yea sure, do your art!

[2014-04-19 17:51] #72 closed, assigned to nobody

[2014-04-19 17:51] ajb commented on #71
This is not possible currently. I'm a little unclear on what you mean, but I'm always happy to review PRs.

[2014-04-19 17:51] #71 closed, assigned to nobody

[2014-04-19 17:52] ajb commented on #70
You can use https://github.com/dobtco/formbuilder/blob/gh-pages/src/scripts/fields/text.coffee as a starting point.

[2014-04-19 17:52] #70 closed, assigned to nobody

[2014-04-19 17:52] #68 closed, assigned to nobody

[2014-04-19 17:56] ajb commented on #69
Thanks for opening. Not sure if I can provide an ETA on a fix, but I can confirm that this is definitely a bug :)

[2014-04-19 17:57] ajb commented on #67
Sorry, I don't know of any examples, and since nobody else has chimed in, I'm going to close this issue.

[2014-04-19 17:57] #67 closed, assigned to nobody

[2014-04-19 18:00] ajb commented on #66
I'm not sure I understand completely. Happy to review & accept PRs.

[2014-04-19 18:00] #66 closed, assigned to nobody

[2014-04-19 18:01] ajb commented on #63
There are not many exposed options, for most things you will have to dig into the source.

[2014-04-19 18:01] #63 closed, assigned to nobody

[2014-04-19 18:04] ajb commented on #59
I would like to see this too. We would need to first define a schema which will describe these dependencies, and then add this functionality to formbuilder. Happy to help review/accept PRs, but not much bandwidth on my end for this, unless it turns out that one of customers needs this feature and wants to help sponsor this work.

[2014-04-19 18:04] #60 closed, assigned to nobody

[2014-04-19 18:04] #61 closed, assigned to nobody

[2014-04-19 18:05] ajb commented on #58
Not possible currently, and unfortunately I can't really give an ETA on building the feature. I'm happy to help review/merge PRs.

[2014-04-19 18:05] ajb commented on #53
Not possible currently, and unfortunately I can't really give an ETA on building the feature. I'm happy to help review/merge PRs.

[2014-04-19 18:05] ajb commented on #50
I think this has been fixed.

[2014-04-19 18:05] #50 closed, assigned to nobody

[2014-04-19 18:06] #51 closed, assigned to nobody

[2014-04-19 18:06] ajb commented on #44
Not possible currently, and unfortunately I can't really give an ETA on building the feature. I'm happy to help review/merge PRs.

[2014-04-19 18:06] #44 closed, assigned to nobody

[2014-04-19 18:07] ajb commented on #40
Hi @amirpaia, I hope you've figured this out. Sorry I couldn't be of more help.

[2014-04-19 18:07] #40 closed, assigned to nobody

[2014-04-19 18:07] ajb commented on #65
Yep, totally agree. If you want to help build this, I'm more than happy to help review/accept PRs.

[2014-04-21 04:23] ksudheer commented on #71
i was just trying to modify formbuilder and use it for the following requirement.
There will be two droppable divisions, one is inclusion division and another is exclusion.
Drag-drop and select the list of users categories to be included and darg-drop the and select the user categories to be excluded.
i am trying with other options..
thank you for the reply.

[2014-04-26 00:55] stephentcannon commented on #21
Did anyone ever accomplish this?

[2014-04-26 01:07] stephentcannon opened #73 "How to render user live view of the form data?"
I do not think it should be the goal of form builder to handle the form http post and processing but it should have the ability to render the form from the JSON.  The default should be identical to what it looks like in the editor/builder mode.

There are 3 old issues that are similar or related to this.

https://github.com/dobtco/formbuilder/issues/21

https://github.com/dobtco/formbuilder/issues

[2014-04-26 13:01] stephentcannon commented on #61
@emphilip can you provide details on the rendering and collection.  I was getting ready to work on a rending method and use toJSON to collect the form on submit.  I would like to see your solution before I proceed.

[2014-04-26 13:05] stephentcannon commented on #21
@adityagodbole Did you ever build the live mode rendering methods?  or attempt to?  I am interested to see what you have done or tried before I give it a shot.

[2014-04-28 08:58] adityagodbole commented on #21
Yes, I have added this feature and implemented a lot more functionality in it as well. Unfortunately, due to time constraints I have some project specific functionality mixed in. I am in the process of refactoring and optimising the code, but it is going very slow. If you can email me at code.aa at gdbl dot me from your email address, I could describe it in more detail and maybe even give you acce

[2014-04-28 12:54] stephentcannon commented on #21
@adityagodbole thank you for the reply.  I integrated formbuilder into a Meteor.js project so instead of using formbuilder for the live rendering to the customer I just used Meteor spacebars ( handlebars for for real-time rendering and reactivity).  It ended up being a much easier and quicker solution that only took about 30 minutes.  Thank you for getting back to me though.

[2014-04-28 12:56] stephentcannon commented on #73
Implemented formbuilder into Meteor.js.  Used Meteor.js spacebars (handlebars with live reactivity) for front end live form rendering.  This is not needed now.

[2014-04-28 12:56] #73 closed, assigned to nobody

[2014-05-03 10:36] lxhiguera opened #75 "How I use FormBuilder to only render de JSon in a functional form."
Thanks, I could already see the very cool example server-side in Rails.

[2014-05-03 10:45] #75 closed, assigned to nobody

[2014-05-06 07:53] rhizene opened #76 "add Columns"
Hi, I need help adding columns in the form's layout.

[2014-05-08 21:01] Jargonius opened #77 "Add a form title that is always at the top and cannot be removed or added."
It would be nice to have a form title field that is always at the top and cannot be added, duplicated, or removed.

[2014-05-09 05:51] Niharika1989 opened #78 "How can i create a button with click functionality in formBuilder"
How to create a button with functionality in form builder

[2014-05-10 21:41] kdiogenes commented on #59
@adamjacobbecker I made a patch that adds the possibility to create nested response fields to radio button options. You can find it here: https://gist.github.com/cerdiogenes/1da93f819cb60598b189

The basic idea is that I remove the resposability to manager the response fields collection from the BuilderView and pass it to a new class: ResponseFieldsView.

All ResponseFieldsView knows about the Bui

[2014-05-11 16:39] hamzazar opened #79 "edit the Id of an input"
How I can add the id in the edit field section. So the user can enter a unique id and customize it.

[2014-05-12 07:25] warmwaterkruik commented on #79
Easy way:

Edit the file templates/edit/label_description.html
Add the last line with the input type=text to that file.

[code]

Edit main.coffee and add the line to the Formbuilder.mappings class. That object already has other fields like SIZE, UNITS etc.

[code]

Rebuild with grunt and test.

That label_description template is used in all the other fields/*.coffee files so change it there and it

[2014-05-13 06:57] nabeelahm2 opened #80 "Creating form for end user using FormBuilder Plugin JSON"
Can any body guide me how can I create form using "formbilder JSON" shown below for the end user where user can enter values and save those:

{"fields": [
             {"field_type": "date",
              "required": true,
              "label": "datum",
              "field_options": {},
              "cid": "c2"
             }
            ]
 }

I know there is "bootstrapData" option available in

[2014-05-13 12:39] nabeelahm2 commented on #73
@stephentcannon can you show me how can i use Meteor.js spacebars

[2014-05-13 13:01] nabeelahm2 commented on #80
@stephentcannon can you show me how can i use Meteor.js spacebars ?

[2014-05-14 13:37] j-ro opened #81 "Question: How do form names/values get set?"
I'm wondering how the form names and values get set in your implementation. The JSON output doesn't seem to include those things -- is this something you use the Ruby gem for? How do you determine what names and values to use?

[2014-05-19 04:28] dimaru123 opened #82 "How do I read a json in runtime?"
After initialized the Formbuilder, can I update the form by changing the josn string?

[2014-05-23 10:02] ZaLiTHkA opened #83 "Bower Install Error"
I get an error when I try install this through Bower, but to be fair I'm not sure if this is this an issue from formbuilder or not. I assume it is because I don't have any issues installing jquery-ui directly from Bower.

Also just a quick note, the version listed in the `bower.json` doesn't match that of `package.json`. :)

Cached output shown below for reference.

[code]

[2014-05-26 21:53] nil2567 opened #84 "Create an html output"
I'm creating an html output for this plugin.

If you want it please contact me

cheers

[2014-05-27 16:53] dougvanslembrouck commented on #84
You mean the client side form? That would be great!

[2014-05-27 18:24] Jargonius commented on #7
I'd love to see an event that triggers an update so the save button enables again.

[2014-05-27 18:34] Jargonius opened #85 "Load JSON for Editing"
It would be very cool to have the ability to load json generated by formbuilder back into formbuilder to edit the form.

[2014-05-27 18:37] Jargonius commented on #85
I just found the bootstrap option.  I'm very pleased.

[2014-05-27 18:37] #85 closed, assigned to nobody

[2014-06-02 00:15] ajb commented on #59
Sorry for my late response -- our team might be going a different direction with the Formbuilder inside of our app. Will try to post an update sometime soon.

You're more than welcome to make a PR, which will be the best way for me to review your changes. It's OK if it's not ready for merge -- just a lot easier to check out than applying a patch inside of a gist :)

[2014-06-06 13:51] codybaldwin commented on #60
jinal, I would like to know what your solution was.

[2014-06-07 10:32] danielelvito opened #86 "how to save form into sql?"
hi , tanx for share
I want to save form into sql with php and preview in website again
How did it؟
please help me

[2014-06-07 13:33] kdiogenes commented on #59
@adamjacobbecker what's the official channel where we can check for these updates?

[2014-06-09 10:47] ghost opened #87 "Can we use this form as front end form ?"
First of all really thanks for doing such a great job on this .. I am using on my web application
.. I have a question if I used this form as form editor and then anywhere can we use saved form as front end not editable form ?

[2014-06-10 07:54] antrax2013 opened #88 "How to lock formbuilder after save data"
Hi,

I need lock formbuilder when first response is save into database. Have you trunkey solution or an idea to "simply" disable save event of Formbulider ?

Thank's for your help.

[2014-06-10 17:40] ZaLiTHkA commented on #83
Not sure how or when it was fixed, but this is no longer issue in the current version. :)

[2014-06-10 17:40] #83 closed, assigned to nobody

[2014-06-22 20:52] thiagowig opened #89 "Error while installing FormBuilder dependencies"
I'm getting the following error when i type "npm install" in the FormBuilder root directory:

[code]

Could anyone help me?

[2014-06-26 00:05] tommyready opened #90 "Rogue Field"
Hi,

I'm having an issue with a rogue field showing up in the json that isnt on the screen.  Its the medical history field that came with the demo code.  It never goes away in the save when I click save.

{"fields":[{"label":"Name","field_type":"text","required":true,"field_options":{"size":"medium"},"cid":"c6"},{"label":"Medical history","field_type":"file","required":true,"field_options":{},"cid

[2014-07-04 07:47] elisolero commented on #84
Hi, that's great!
can you send me the plugin for html output?
(eli.solero.web@gmail.com)

[2014-07-08 08:49] heydemo commented on #89
Had the same problem - was able to fix by deleting the node_modules directory, updating json as below, and re-running npm install

https://github.com/heydemo/formbuilder/commit/e9029ed65e18db389179e361519a5a9e87f52803

[2014-07-08 09:22] heydemo opened #93 "Adding field for custom text / form description"
I want to add a field for adding static text to the form.  For instance, an introductory paragraph about the form.

I noticed there is a Section Break field with a type of 'non_input' - but it doesn't display, I'm guessing it hasn't been fully implemented.

If you could point me in the right direction on next steps I would be happy to work on this.

[2014-07-22 12:09] mvanvu opened #94 "Form Builder conflict with mootools in Joomla!"
Hi! thank you for Form builder JS
I am creating a form builder component for Joomla! and I realy love Formbuilder.js. But I had the issue with Mootools default in Joomla!. When I click on checkboxs or muiltichoice then they render many result like the attach images. Please help me!!!! SOS........
![with-mootools](https://cloud.githubusercontent.com/assets/5796168/3657712/be0c0bcc-1198-11e4-829d-9c

[2014-07-22 17:52] ifriz commented on #84
Any movement on this?  I would love to see this feature as well.

[2014-07-22 18:38] nil2567 commented on #84
I have developement on this.

if you want just contact me on sandro2567@hotmail.com

cheers

[2014-07-24 14:36] gelinger777 opened #95 "Population of the form"
OK.Thank you for great software. Now a question. Lets say I have generated JSON of the form via your plugin. How to populate the form in php or javascript for end user? Any examples?

[2014-07-24 14:37] gelinger777 commented on #87
did you found any workaround?

[2014-07-25 11:59] denndk opened #96 "Cannot include formbuilder"
Hi all,

I tried including formbuilder on my site.

I am getting the following error:
Uncaught TypeError: Cannot read property 'prototype' of undefined formbuilder.js:46

I included:
backbone.js
underscore.js
rivets.js
json2.js

What is wrong? :-)

[2014-07-25 13:04] hgarfer commented on #96
Hi.

In my case I needed to include (apart from the ones you already have):
jquery
jquery-ui
ie8-node-enum.js
jquery.scrollWindowTo.js
font-awesome.css
underscore.mixin.deepExtend.js
deep-model.js

One quick way to sort this out is to do a "bower install"
and use what you get from the generated bower_components folder.

[2014-07-28 07:28] denndk commented on #96
Hi @hgarfer,

Thanks for the tip! I did a bower install and needed the following js:
backbone
backgone-deep-model
font-awesome
jquery.scrollwindowto
rivets
underscore
underscore.mix.in.deepextend

Thanks!

[2014-07-28 07:28] #96 closed, assigned to nobody

[2014-07-30 09:51] denndk opened #97 "Can I trust the CID of the fields?"
Hi,

First of all thanks for a great formbuilder.

I building a application which allows the user to create a form which will later be filled out. Saving the form to the database was easy, but now I am making the edit form functionality.

The bootstrap function works well but I am in doubt about which way is the safest to update my fields. Currently I am building the update function using the gene

[2014-07-31 16:48] nuonical commented on #97
I am having this issue as well. When I save the form my first text element may have a CID of 9, but on load it could be a 2. I have no way of then manipulating the item I pulled out of storage.

[2014-07-31 17:19] denndk commented on #97
@nuonical are you sure you are experience this on load as well? The CID is save in the payload. When I store the form in the database I store the payload from the formbuilder. This is an example
`
{"fields":[{"label":"Information omkring annoncen","field_type":"section_break","required":true,"field_options":{"description":""},"cid":"c6"}]}
`

You can see that the CID is save for each field.

[2014-07-31 18:10] nuonical commented on #97
The CID saves just fine, but when I call

[code]

, the CID's of the fields are always different than what was saved. To clarify, "oFormData" is what I had saved, but if I run through the fields on the generated form the cid's are different.

Here is an example :

[code]

[2014-07-31 18:14] ajb commented on #97
CID is a property of all Backbone Models: http://backbonejs.org/#Model-cid

[2014-08-01 05:36] denndk commented on #97
@nuonical Strange as that doesn't happen when I do it.

@adamjacobbecker I see..

Is there any way to populate the fields with a unique identifier?

[2014-08-01 06:24] solmazigl opened #98 "How can I load field from database"
i've added formbuilder.js into my C# web application
I need to load data from database.
I've loaded data in a json format
how can I bind to bootstrapData
PLEASE HELP ME

[2014-08-01 15:16] montanaprogrammer opened #99 "Removal of Section Header"
Was there a reason that Section Header and File were removed?

I didn't see anything detailing the reason, just the note on the check in that File upload was being removed.

TIA!

[2014-08-01 15:21] montanaprogrammer opened #100 "Reordering Not Updating BootstrapData Payload"
I have an issue where as when I reorder the questions in an existing form that is using bootstrapData the JSON is not updated within the Payload data. It appears to just send the bootstrapData as is, and any new fields are just added to the bottom, no matter if you add it between two existing questions, or anywhere else.

To Reproduce:
- Create survey and get bootstrapData
- Create new form with b

[2014-08-01 15:43] montanaprogrammer commented on #100
Resolved, the site I had included my formbuilder ui into had a erroneous reference to an older jQuery version, as soon as I removed that the reordering payload was being sent accurately.

[2014-08-01 15:43] #100 closed, assigned to nobody

[2014-08-11 22:59] siddarth-rajavelu commented on #84
Hi nil2567,
Can you send me the Html plugin?
srajavel@uci.edu

Thanks a lot

[2014-08-11 23:01] nil2567 commented on #84
Hello mate

I’m still developping it.

It already output the html but I’m still make it better.

When I’ll finish it, I’m going to put it for sell.

Thanks

From: Siddarth Rajavelu [mailto:notifications@github.com]
Sent: 11 de agosto de 2014 23:59
To: dobtco/formbuilder
Cc: nil2567
Subject: Re: [formbuilder] Create an html output (#84)

Hi nil2567,
Can you send me the Html plugin?
srajavel@uci.edu

[2014-08-11 23:08] siddarth-rajavelu commented on #84
Cool, do you have an ETA?

[2014-08-11 23:09] nil2567 commented on #84
ETA?

What is that?

From: Siddarth Rajavelu [mailto:notifications@github.com]
Sent: 12 de agosto de 2014 00:09
To: dobtco/formbuilder
Cc: nil2567
Subject: Re: [formbuilder] Create an html output (#84)

Cool, do you have an ETA?

—
Reply to this email directly or view it on GitHub https://github.com/dobtco/formbuilder/issues/84#issuecomment-51853231 .  https://github.com/notifications/beacon/76965

[2014-08-14 05:23] metroroland opened #102 "bower install fail with three file cannot download"
I tried to have a fresh install. When I run `bower install`,  it start to download most file, but there are no progress for `https://gist.github.com/adamjacobbecker/8902451/raw/b68459289526cb76c2e22416d98d0dbd0b722fa0/ie8_node_enum.js`
`https://gist.github.com/adamjacobbecker/6519570/raw/cd741057495d0fb19e545a0f9a098efba3bef9c8/jquery.scrollWindowTo.js` and
`https://gist.github.com/adamjacobbecker

[2014-08-14 15:00] fmkoba commented on #102
Same issue here.

[2014-08-14 15:02] #102 closed, assigned to nobody

[2014-08-14 15:02] ajb commented on #99
No -- @al3x, since you merged, can you look into this? @moflo, was this committed by mistake?

[2014-08-14 15:02] #98 closed, assigned to nobody

[2014-08-14 15:03] ajb commented on #97
I would recommend setting a unique identifier on the server, and passing this back to the client after the fields are saved.

[2014-08-14 15:03] #97 closed, assigned to nobody

[2014-08-14 15:03] #95 closed, assigned to nobody

[2014-08-14 15:04] ajb commented on #94
Sorry, I don't know anything about Mootools. Can you set up an isolated test case on jsfiddle?

[2014-08-14 15:05] #90 closed, assigned to nobody

[2014-08-14 15:05] #89 closed, assigned to nobody

[2014-08-14 15:06] ajb commented on #87
Not yet, sorry.

[2014-08-14 15:06] #87 closed, assigned to nobody

[2014-08-14 15:06] #86 closed, assigned to nobody

[2014-08-14 15:07] #84 closed, assigned to nobody

[2014-08-14 15:07] ajb commented on #82
There is not currently an API for this.

[2014-08-14 15:07] #82 closed, assigned to nobody

[2014-08-14 15:08] ajb commented on #81
Correct, it's being set in Ruby.

[2014-08-14 15:08] #81 closed, assigned to nobody

[2014-08-14 15:08] #80 closed, assigned to nobody

[2014-08-14 15:08] #79 closed, assigned to nobody

[2014-08-14 15:08] j-ro commented on #81
Gotcha, thanks! Would be nice to have a UI for this too at some point.

[2014-08-14 15:11] #78 closed, assigned to nobody

[2014-08-14 15:11] #76 closed, assigned to nobody

[2014-08-14 15:14] tommyready commented on #90
Why is this closed?  It's still an open issue that has yet to be resolved.

[2014-08-14 15:15] ajb commented on #90
Can you provide an isolated test case on jsfiddle? Thanks.

On Thu, Aug 14, 2014 at 11:14 AM, Tommy Ready notifications@github.com
wrote:

##

Adam Becker
510.928.9111
@AdamJacobBecker

[2014-08-14 15:20] moflo commented on #99
@ajb not a mistake, but as I mentioned in the pull request, this commit was for a mobile usage of the library where, sadly, file upload isn't supported. I was surprised to see the commit merged wholesale.

[2014-08-14 15:22] ajb commented on #99
got it. i'll let @al3x fix when he gets a sec.

On Thu, Aug 14, 2014 at 11:20 AM, moflo notifications@github.com wrote:

##

Adam Becker
510.928.9111
@AdamJacobBecker

[2014-08-14 15:27] moflo commented on #99
Cool. Would love to see this refactored into the `mobile_friendly` Grunt category, but I didn't see an easy way to isolate this file upload code within that build category.

[2014-08-17 16:29] mustaqsheikh opened #103 "How to update bootstrapData: ?"
How do I update  bootstrapData: value each time the form is changed ?

[code]

If anyone knows, please provide an example code, thanks

[2014-08-18 04:09] nishant-befree opened #104 "Parent - Child Element relationship"
Hello,

I tried to develop parent-child module inside form builder however i don't know how to do this.

so basically when A value selected by form element then we display multiple other form element which belongs to A element (more questions) appears.

i think we can archive this via below concept

eg:
Via form builder add new Parent Drop-down where all form element are displayed. after that we c

[2014-08-18 16:58] siddarth-rajavelu commented on #103
$(function () {
            var initFormData;
            $.ajax({
                url: 'Home/GetFileFromDisk',
                async: false,
                success: function (result) {
                   var temp = JSON.parse(result);
                    initFormData = temp.fields;
            },

[code]

[2014-08-18 16:59] ajb commented on #103
This data is designed to be persisted in a database.

[2014-08-18 16:59] #103 closed, assigned to nobody

[2014-08-18 18:07] mustaqsheikh opened #105 "Why did you lock my question ?"
https://github.com/dobtco/formbuilder/issues/103

Thanks for clarifying this. Have a nice day.

[2014-08-18 18:08] ajb commented on #105
Sorry, this is not a good place for beginner-level web development questions.

[2014-08-18 18:08] #105 closed, assigned to nobody

[2014-08-19 17:58] siddarth-rajavelu opened #106 "Support Fieldset"
Can somebody tell me how to support field-sets. I am planning to provide field-sets as templates. But those templates should be editable(ie. Components could be added/deleted if needed). Any direction would be of great help.

[2014-08-21 09:58] ganapathi-threesquare opened #107 "How to typw fields after creation of the form"
hi i am not able to type the text fields..after creation of the form how to do this.....

[2014-08-21 16:44] #107 closed, assigned to nobody

[2014-08-21 21:37] jamesmortensen opened #108 "Problem with karma peerDependencies"
It looks like there's a problem retrieving all the dependencies when doing an npm install.  There is an issue open https://github.com/karma-runner/karma/issues/873, but it's not clear if anyone on the karma team is going to do anything about the dependency mess created.

Is there a workaround for this?  Thank you,

[code]

[2014-08-25 11:04] morm commented on #108
Same story. I deleted all karma deps from all package.json. Installed karma 0.12.22 manually. and it works, but that's a nasty hack

[2014-08-27 12:40] savyk opened #109 "Creating new form components or removing options with existing ones"
Is there a way to create new form components by passing in its configuration via javascript, such as to make a slider component?

Also, is there a way to remove mappings for existing components via javascript, such as to tell the plugin to not render the 'Admin Only' option?

[2014-08-27 16:37] ajb commented on #109
Hi there,

There is not currently an API for this, so you'll have to tweak the source. Unfortunately, I think that adding APIs for all of the possible configuration options would be untenable.

[2014-08-27 16:37] #109 closed, assigned to nobody

[2014-08-28 11:17] vxm9 opened #110 "Incorrect JSON"
If I create a field and use a new line in field description FB will send a string like "text \n text" to the server. Escape chars are not accepted by JSON. http://stackoverflow.com/questions/42068/how-do-i-handle-newlines-in-json If I try to parse JSON and pass it back to FB a javascript exception will occure. Tab and backslash characters are also not welcome.

[2014-09-15 01:48] benkaiser commented on #99
Explains why File was removed, but what about section breaks? Can they be brought back in?

[2014-09-16 20:31] lstone commented on #93
+1

[2014-09-24 12:35] vxm9 opened #114 "trigger a save action"
How can I trigger a save action from JS? For example I have loaded some bootstrapData to formbuilder but it should save data after that.

[2014-09-24 12:35] #110 closed, assigned to nobody

[2014-09-26 07:05] smurfpandey opened #115 "All duplicated checkboxes contain same value on save"
How to reproduce the bug:
1. Create a check-box control
2. Provide two options: Yes, No
3. Duplicate the check-box control
4. in the second check-box, provide two different options: Average, Good

On saving the form, both check-boxes contain the same values: Average, Good

If I change the 1st check-box, 2nd check-box will now have the same value as the 1st one.

Note: On the viewer UI checkboxes a

[2014-09-26 07:12] smurfpandey commented on #99
@benkaiser If you need this urgently you can check my fork https://github.com/smurfpandey/formbuilder

[2014-09-26 13:00] benkaiser commented on #99
@smurfpandey no need, already patched it myself (see #113 and #112)

[2014-09-26 13:03] fazman commented on #69
Made a hack to fix this. You simply need to edit two lines in the formbuilder.js

[code]

Hope this helps.

[2014-09-26 13:14] TarasHots commented on #69
fazman's fix is really helpful. As we both had noticed, this bug due to duplicate CSS identifiers(in case 2 or even more formbuilders on the same page). Maybe this can help you, ajb, to fix this bug. Or, maybe it's a Sizzle's problem.

[2014-09-26 13:27] ajb commented on #69
Sorry for the delay, just posted a status update to the README: https://github.com/dobtco/formbuilder/commit/684a190ce6a37f57b50d81fe9beac068e3b8fc97

[2014-09-26 13:28] ajb commented on #115
This is due to us passing a javascript by reference, and not properly cloning it. I just posted a status update to the README: https://github.com/dobtco/formbuilder/commit/684a190ce6a37f57b50d81fe9beac068e3b8fc97

[2014-09-26 13:57] smurfpandey commented on #115
@ajb would it be possible for you to suggest a work around for now?

[2014-10-01 06:23] smurfpandey commented on #115
@ajb any help on this?

[2014-10-08 13:21] liliankasem opened #116 "Loading data into bootstrapData issue"
I'm trying to load the json data back into the bootstrapData field but it doesn't seem to be acknowledging it e.g.

I save the form data into localstorage and then have a load button that pulls that saved data from localstorage and puts it in bootstrapData:

[code]

This just gives me an empty form - do you have any idea why it's not taking in the 'test' var which looks exactly like this when prin

[2014-10-08 16:08] lucaspanik opened #117 "Save function in extenal button"
[code]

I need something like this:

[code]

Is it possible?

[2014-10-08 17:53] liliankasem commented on #117
I set autosave to false in "Formbuilder.options= { }" in formbuilder.js. This turned the saveform button into something similar to what you mentioned

[2014-10-08 18:33] jrubenoff opened #118 "Remove blank options when adding in bulk"
**Steps to reproduce**
1. Create a new form.
2. Add a checkbox, radio button or dropdown field.
3. Press "add to bulk" and enter at least four options.
4. The newly added options are appended to the blank entries.

![screen shot 2014-10-08 at 11 33 13 am](https://cloud.githubusercontent.com/assets/1328849/4564689/98c7d350-4f19-11e4-8d5d-b740c5b0a72f.png)

**Desired behavior**

The new options shou

[2014-10-08 22:26] liliankasem commented on #116
Nevermind, I've figured it out :)

bootstrapData takes an array not a string; this is how I made it work if anyone needs help figuring out how to do the load/save feature of the form:

[code]

[2014-10-10 09:06] TarasHots opened #119 "Inputs allow javascript running"
There is a possibility to run scripts in any input, just type <script>alert()</script> and you'll see.

[2014-10-10 11:52] smurfpandey commented on #115
I have replaced the _.clone with $.extend in the duplicate method. It's working now.

[2014-10-15 03:32] leomx opened #121 "How to use only the json data generated page view but not edit"
How to use only the json data generated page view but not edit

[2014-10-15 03:54] leomx opened #122 "just want to Generate HTML to view"
Hello, you submit about dynamic form formbuilder. Js, the simple only has edit state, now I want to use to generate a json how to generate the page to view
  how can i do it    just want to Generate HTML to view

 thank you very much

[2014-10-15 08:49] larryweya commented on #121
@leomx I used  custom php script to convert it to a valid JSON schema and used https://github.com/joshfire/jsonform to display the form. There is also https://github.com/jdorn/json-editor which I havn't tried yet but also supports valid json schema.

[2014-10-15 09:48] larryweya opened #123 "Duplicate cids when creating with bootstrapData"
Steps to reproduce:
- Create a fairly long form and store the generated schema (mine had 18 fields)
- Instantiate FormBuilder with the schema on a new web page (akin to saving and loading the schema for editing)
- Add a new field or 2 and check their cid values after saving. You'll likely find that their cid's already exist in the initial schema

In a nutshell, whenever a Bakcbone object (Collecti

[2014-10-17 03:02] leomx commented on #121
@larryweya thank you  , i do not konw how to  convert it(The formbuilder of the generated json)to a valid JSON schema   for jsonForm`

[2014-10-20 14:12] lucaspanik commented on #117
Thanks for listening friend!

I have done the process indicated, but need an external button that performs the save function.

In addition to the existing form to save button, I need an external example 'input: button'.

[2014-10-23 19:06] btilford commented on #108
This is a pretty big issue with how popular karma has become. Constantly having to fork projects because they use karma sucks.

[2014-10-31 14:04] emilianox commented on #122
+1

[2014-11-01 07:05] ayub567 opened #125 "how to connect to mysql database, kindly share php conncetion code Help me"

[2014-11-03 11:55] robertmain commented on #125
This is a JavaScript form builder and is therefore client side. This is not the right place for this issue. Howeve, being as that may, please read [this](http://www.w3schools.com/php/php_mysql_connect.asp)

[2014-11-03 16:17] savyk opened #126 "Attach other elements to save button"
I have created a new tab on the formbulider to house form information such as title and description.  However I can't figure out how to attach those new fields (one input and one textarea) defined  in my new file -> templates/partials/edit_form.html <- to the handleFormUpdate method in order to toggle the save button upon change.  Could I get some guidance in doing this?

[2014-11-04 08:09] devenkuswa opened #127 "How to add name attribute"
Hi there,
I want to add name attribute and it should be change on rename.Please suggest me.
Thanks

[2014-11-04 20:32] #126 closed, assigned to nobody

[2014-11-05 23:01] baggachipz opened #128 "Ever considered support for Rules?"
So as a developer working on a project for a client, we've outgrown what Wufoo offers. Their environment is simply too constrained for what my client needs. With that said, have you ever considered adding Rules to your form builder, similar to what Wufoo does? If not, would you consider a pull request if I added it in? It's a must-have for my client (as well as some payment information fields), so

[2014-11-06 18:40] SachinAmbre opened #129 "Add Button"
Its not an issue but a feature request,
It will be healpful if you add button control in controls list

[2014-11-12 12:20] uovidiu commented on #121
@larryweya would you mind making a gist with your php code used to convert formbuilder data to jsonform?
Thanks.

[2014-11-13 02:55] locomo commented on #58
+1

[2014-11-13 10:57] larryweya commented on #121
@leomx @uovidiu Hey, check this gist (https://gist.github.com/larryweya/9cee566b01434075f688) and let me know it it needs any clarification, you should be able to use the class as is

[2014-11-13 13:57] uovidiu commented on #121
Thank you @larryweya
I've made just a small change on your script, to add submit button.
gist: https://gist.github.com/uovidiu/3b46e97dd5f874f47ac6

[2014-11-14 08:13] uovidiu opened #130 "Allow to call formbuilder with options"
You have HTTP_ENDPOINT, AUTOSAVE, mappings etc but it can work only if I change the script itself.
How can I pass those when calling Formbuilder

[code]

Any suggestions are welcome.

[2014-11-14 16:29] jordancalder opened #131 "Is it possible to load a form template into the formbuilder from existing JSON?"
Once a form is saved, is it possible to come back to the formbuilder and load in that form for further editing?

[2014-11-18 04:27] apopp72 commented on #131
1 - You capture the JSON structure to save the form in the database:
       Ex: JSON.stringify (fb.mainView.collection.toJSON ())

2 - You can recover the structure of the database and inject back
       Ex: fb = new FormBuilder ({
                     selector: '.fb-main',
                     bootstrapData: JSON.parse (jsonStructure)
              });

[2014-11-21 17:52] JakeAustwick commented on #128
This was mentioned over here by me: https://github.com/dobtco/formbuilder-rb/issues/5

I never got round to doing it though, and likely lack the JS skills to do so. I for one would be interested in this though.

[2014-11-24 04:35] stickypages opened #132 "FORM RENDER"
Hello,

I see that you are working on a form RENDER'er, would like to hear about some updates on that. Do you have any timelines? Not entirely sure the best way to go about 'rendering' this form.

Let me know, thanks!

[2014-11-24 17:09] jrubenoff commented on #118
Pinging @ajb

[2014-11-24 17:12] #125 closed, assigned to nobody

[2014-11-25 00:54] #118 closed, assigned to nobody

[2014-11-26 10:39] lekshmi615213 opened #133 "Input type file support"
Hi,

Thanks for the great formbuilder plugin.
We have cloned the plugin and tried using it. One thing I came across is that the input type "file" ("field_type": "file",) is not working in our end. Can you please advice us on the same?

Thanks,
Lekshmi

[2014-12-01 07:58] lekshmi615213 commented on #133
Hi,
Did you get a chance to look into the issue?

[2014-12-03 15:01] amirnaeem opened #134 "Need Help"
Can you tell me when i click on save button why changes not saved..

[2014-12-08 06:58] smurfpandey commented on #123
I can confirm this issue.

[2014-12-08 09:30] larryweya commented on #123
@smurfpandey while working on the above fix, I realized that after each save, you need to attach a unique `id` attribute and return the list of fields from the request. Formbuilder uses the `id` to assign `cids` if it doesn't find an id, it assumes its a new form and duplicates can occur. This is how I do it from a PHP script

[code]

[2014-12-08 09:49] smurfpandey commented on #123
@larryweya I think the problem will still persist.

I did some digging, and i found that, every backbone model gets it cid using underscore's uniqueId method. This method increments a global variable and returns it's value as id. http://underscorejs.org/docs/underscore.html#section-140

Now the problem i see is, even if we add a "id", and existing models are assigned that id as "cid". All new mode

[2014-12-08 11:31] darekmydlarz commented on #133
What about that? I am also interested

[2014-12-10 14:53] andriimosin commented on #133
I am interesting in it as well, will be appreciative for your answer

[2014-12-11 12:45] dzeriho opened #135 "Replacing current form data?"
Can I replace the current form in the FormBuilder with the loaded AJAX response? I'm really having trouble with this. Please help :)

[2014-12-19 08:50] SongTanmay commented on #123
First of all, good to know that there is someone who can understand my pain. I am going through same issue and its nightmare. At times there were instances that we have to work late night to fix something in related formbuilder and it came out to be same/duplicate cid issue.

As @smurfpandey mentioned _.uniqueID is responsible for creating cids.
When I was debugging this is who I came to know:
dee

[2014-12-19 09:56] smurfpandey commented on #123
@SongTanmay Only real solution that I can think of is to not rely on "cid" at all. When your form is being saved on the server, you will have to assign a "id" to each control. Make sure id is only provided to controls that do not have one. And that id should be unique in that form.

So something like this will happen:
1. Form is created first time with 2 controls, you server assign them a new id,

[2014-12-19 10:17] SongTanmay commented on #123
We are directly saving payload as string in database and then feeding payload directly to formbuilder at the time editing form. I think looping through each control will be costly if form has 120 fields in it and may be more than that.

[2014-12-19 10:22] larryweya commented on #123
@smurfpandey I also found that setting the `id` when the form is saved stopped the duplication from happening on subsequent edits

@SongTanmay I'm also saving the payload to a database but after looping and assigning an `id` to each

[2014-12-19 10:37] smurfpandey commented on #123
@SongTanmay In that case you should do it on client side, when ever a new model is added, just assign a new id too. The "cid" is added [here](https://github.com/dobtco/formbuilder/blob/gh-pages/src/scripts/main.coffee#L20). Just append your logic of assigning "id" to that method, and it should work.

[2014-12-19 10:55] SongTanmay commented on #123
Yep I have given it a thought once that generating a random number and appending it to cid or simply adding time stamp to cid. Ya its a good workaround but is that the solution of the problem ?

[2014-12-19 11:19] larryweya commented on #123
@SongTanmay I had started working on setting the id on the client side, the diff is here https://github.com/larryweya/formbuilder/compare/client_side_id, don't quite remember what was working but maybe it could help you

[2014-12-19 11:29] smurfpandey commented on #123
Don't use random number, coz it's random. ;) Instead use the solution provided by @larryweya. It looks good to me.

And yes, this is the only solution it seems. This is how "cid" works in backbone, it will be unique for a particular session only. It's the responsibility of the developer to generate unique IDs for a model.

[2014-12-23 11:43] steverob opened #137 "disable a field mapping based on another value"
So I am trying to add a new set of options in the edit view called 'timeline'.

I have this code in `templates/edit/timeline.html`:

[code]

And I have this in `main.coffee`:

[code]

Now what I am trying to do is, only if `timeline` is true (checked), I want the `timeline_type` select box to be enabled. I am  new to backbone and Rivets and I am trying to make sense of things. Would love a nudge i

[2014-12-23 14:53] smurfpandey commented on #137
Can you share a example page?

[2014-12-23 18:32] steverob commented on #137
What do you mean example page @smurfpandey? :).

EDIT:

I just want a new option for all questions called "Timeline" which will have two properties. One is a checkbox and other is a select box. The select box needs to be enabled only if the checkbox is checked. This is in the edit view. Think of this Timeline option as something like the "Min value" / "Max value" that's there for number inputs :)

[2014-12-23 18:41] smurfpandey commented on #137
Now it's more clear.
By example page i mean a page where we can see demo of your current implementation. It will be easier for us to help you out that way. :)

[2015-01-08 18:22] apopp72 opened #139 "Customize formbuilder"
How to customize and recompile formbuilder?

[2015-01-08 22:10] glennpowell2 opened #140 "margin-top incorrectly determined"
When using this amazing form builder, I have found that when the page loads the left side of the form builder is sticking to the top of the page instead of the parent DIV. Any suggestion on how to correct this issue? Or where is it determining the margin-top styling or sticky aspect?

[2015-01-09 05:34] smurfpandey commented on #140
https://github.com/dobtco/formbuilder/blob/gh-pages/src/scripts/main.coffee#L193

This should help you.

[2015-01-09 05:35] smurfpandey commented on #139
To customize: Edit the coffescript files in src folder
To Compile: Use grunt task as mentioned here https://github.com/dobtco/formbuilder#developing

[2015-01-09 11:49] apopp72 commented on #139
Thanks!

[2015-01-13 19:20] glennpowell2 opened #141 "touchpunch or smart phone dragging"
I have used touchpunch in the past to allow sortable and dragable to work on touch devices such as an Iphone or Android.  This has always worked well for me. It replaces click events with touch events.  I don't know for sure that you are using Jquery-UI but you appeared to be using it for the drag and drop functionality.  Are you, and if so is there a way to implement the touchpunch plugin, usuall

[2015-01-13 20:00] glennpowell2 commented on #122
His plugin only constructs the admin side of the form builder, with the ability to return json output.  Just write a simple jquery ajax call in the fb.on('save' function, and pass the var payload to the ajax file.   in the ajax file, use json decode to turn the json string, into a php array, from there, you can use that data to build out the front-end of the form, or save the information to your d

[2015-01-13 20:10] glennpowell2 commented on #140
Thank you, yes that is what I was looking for

[2015-01-14 06:03] smurfpandey commented on #122
As per the latest update on [Readme](https://github.com/dobtco/formbuilder#update-92614), a new version is coming which will help you in this.

[2015-01-14 07:42] smurfpandey commented on #141
It looks like the dependencies are added via bower, and using grunt they are all compiled into a single vendor.js
Check:
1. https://github.com/dobtco/formbuilder/blob/gh-pages/bower.json#L24
2. https://github.com/dobtco/formbuilder/blob/gh-pages/Gruntfile.coffee#L65

[2015-01-15 18:36] jordancalder commented on #77
Adding my voice to this one. Would also like to see this.

[2015-01-16 16:48] madmath opened #142 "Adding "autocomplete" attribute as an option when adding a form field."
Hello,

It would be great if you would add the option to specify one of the HTML5 "autocomplete" attribute values when adding a form element. In It could be an additional dropdown in the same location where users enter the label and description.

This way the produced forms would have autofill support out of the box. Here is the spec for the possible values:

https://html.spec.whatwg.org/multipage

[2015-01-19 07:05] alobintechnologies opened #143 "How to add value attribute for field options."
We need to add value attribute for select field, checkboxes, raio buttons.

[2015-01-21 13:26] larryweya commented on #123
@SongTanmay The issue does still exist if you still prefix your fields with a `c` because backbone will create models with the same prefix so if you already have a `c2` in your schema a new `c2` will be created and yours will be overridden. Th solution is to to always use custom server side ids if a field doesn't yet have an id

[2015-01-21 14:44] smurfpandey commented on #123
@larryweya I think client side IDs will also work, you will just have to change this [line](https://github.com/dobtco/formbuilder/blob/gh-pages/src/scripts/main.coffee#L20)

[code]

 in main.coffee, instead of using model.cid use a custom function.

This way you don't need to parse the formbuilder JSON at server side, just dump it in your database if you want. But if you are storing the form in co

[2015-01-22 06:22] SongTanmay commented on #123
@larryweya I like the idea of using getNextFieldId and finding the nextId. I am looking forward to use that as well. But can't I just do the same thing with cids instead for f+id or model.id? OR in another words can I do same thing with cids ?

[2015-01-22 06:22] SongTanmay commented on #123
@larryweya I like the idea of using getNextFieldId and finding the nextId. I am looking forward to use that as well. But can't I just do the same thing with cids instead for f+id or model.id? OR in another words can I do same thing with cids ?

[2015-01-23 08:42] larryweya commented on #123
@SongTanmay I think the issue with that approach is that when using bootstrap data, when Backbone creates models, it assigns incrementing cids and if it comes across your bootstraped model with a cid it already assigned, your model will not be created, it will assume its a duplicate. You shoudl be able to use the model.id as long as its not prefixed with a `c`

[2015-01-26 11:01] Hesham-Fahed opened #144 "save form as json in database"

[2015-01-28 17:15] tg44 commented on #135
I'm having the same problem. Can we modify the form fields from javascript after the form is inicialized?

I'm writing a bridge module to the rapidfire, and my main problem is when a save is run the new fields with cids generates new objects to the database with id-s. I want to write back the indatabase objects id-s to the actual javascript model, becouse when i modify a field the new fields saved

[2015-01-30 10:48] #144 closed

[2015-01-31 05:35] nchiring opened #145 "drag drop not working on tablet( nexus 7)"
Can you please start supporting field repositioning functionality by drag & drop with touch gesture on tablet?

[2015-02-10 20:29] ngelx commented on #122
+1 to this feature

[2015-02-16 08:08] nishantvichhi opened #147 "input validation not working"
i have used form builder but required validation not working with all options.

[2015-02-16 08:10] nishantvichhi commented on #127
you can use name='<%= rf.get(Formbuilder.options.mappings.LABEL) %>' into formbulder.js file. it will show your label name as Name attribute.

[2015-02-16 10:32] masoodinfo opened #148 "How can show form for end user , without design view"
hi
tanx for formbuilder!
i need a function that get json form and print it for end user!!
how cannnnnnnnnnnnnnnnnnnnn?

[2015-02-16 17:23] hackfisher commented on #122
+1 to this feature

[2015-02-16 18:51] rfouty opened #149 "JQuery UI Dialog"
I'm trying to add a dialog to confirm deleting and i'm getting an error in the vendor.js file.  Is there a possible conflict with this library?

[2015-02-17 16:46] smurfpandey commented on #149
What error are you getting?

[2015-02-18 06:44] rfouty commented on #149
I figured it out, I had the load order incorrect between JQuery UI and vendor.js.  Originally I had JQueryUI then vendor & formbuilder.js.  After I switched the order and placed the vendor and formbuilder.js first the dialogue control started to work.  Rookie mistake!

[2015-02-18 06:44] #149 closed

[2015-02-23 15:17] scazzy opened #150 "Do you have a raw javascript/jquery, ie. non-coffee script version?"

[2015-02-23 16:24] smurfpandey commented on #150
https://github.com/dobtco/formbuilder/blob/gh-pages/dist/formbuilder.js

[2015-02-23 16:25] #150 closed

[2015-02-25 23:20] TheOpenDevProject commented on #132
Form rendering is not to hard in PHP, I love this project because it does all the messy bits for me to get it into the database.

[2015-02-27 05:42] phimuskapsi opened #151 "Issue with radio / checkboxes."
For some reason that I still have yet to figure out, checkbox and radio options are showing 3 options by default even though only 2 field_options.options are set in the defaultAttributes. It's almost like it's counting an extra iteration, because the edit screen only shows two boxes.

![problem](https://cloud.githubusercontent.com/assets/394826/6407975/53d3053e-be19-11e4-933c-31eab3475682.PNG)

An

[2015-03-12 04:46] rhalim opened #152 "Extending formbuilder with custom properties"
Hi,

First of all, thanks for the great work. We are looking for an open source drag and drop WYSIWYG form builder that we can extend for our internal project. Specifically, we want to build a form builder, but with additional properties to the fields (like onFocus, onExit, default value, etc). Is it possible to extend formbuilder for that purpose? If so, can you please point me to the right area

[2015-03-12 07:59] SavariAmir opened #153 "use form builder"

[2015-03-13 13:22] bencagri opened #154 "Working with php-mysql"
I'm trying to get json data (using php) from database for bootstrapData. But fb does not show fields. Returned json is;

                 var form_inputs = '[<?php echo $extra->forms; ?>]';
                  console.log(form_inputs);
                      $(function(){
                        fb = new Formbuilder({
                          selector: '.fb-main',
                          bootstrap

[2015-03-13 13:54] bencagri commented on #154
Okay solved.
While saving database;

[code]

getting json from database;

[code]

thats it.

[2015-03-13 14:46] bencagri commented on #134
Are you tying to save data into database?
If yes;
1-) create a hidden input name "form_data"

[code]

2-) Change you save method like below;

[code]

3-) Get you json data on serverside (ie. php)

[code]

[2015-03-21 23:17] laperon opened #155 "Save JSON to HTML"
Hello !

I have some questions about save Json to HTML(sorry for my so low english level):

var builder = new Formbuilder({ selector: '#formbuilder' });

builder.on('save', function(payload){
  // How to conver JSON to HTML ????
});

[2015-03-22 10:22] marvoh opened #156 "Hi"
Is it possible to get a complete list of vendors so that we can include individually separately? The page I will be including the formbuilder on already has some  eg. jQuery referenced.

[2015-03-22 12:40] ngelx commented on #156
+1

[2015-03-22 15:14] smurfpandey commented on #156
Check dependencies in bower.json
https://github.com/dobtco/formbuilder/blob/gh-pages/bower.json#L21

[2015-03-25 14:36] marvoh commented on #156
Thanks

[2015-04-04 05:25] rejani commented on #154
hi bencagri,
i have tried with same ... but i cannot display the form ... how did you display form usin the above json code.

in DB
"{\"fields\":[{\"label\":\"name\",\"field_type\":\"text\",\"required\":true,\"field_options\":{\"size\":\"small\",\"description\":\"names\"},\"cid\":\"c2\"}]}"

[2015-04-07 15:20] bencagri commented on #154
You should use JSON.parse() function.

[code]

[2015-04-07 15:25] bencagri commented on #155
Instead of saving html, saving json into some storage (mysql,mongo,file etc), is much mature. I wrote a builder for json output with php.  Of course its not stable, cuz it produces html for my template. Actually its not hard to produce html output from json.

[2015-04-16 05:38] suyash248 commented on #154
Hi rejani,
I'm facing same problem as you did. Could you please help me out?

I have following string stored in DB -
"{\"fields\":[{\"label\":\"City\",\"field_type\":\"text\",\"required\":true,\"field_options\":{\"size\":\"small\"},\"cid\":\"c2\"}]}"

I fetch this in my JS function and have it like this -
var payloadString = '"{\"fields\":[{\"label\":\"City\",\"field_type\":\"text\",\"required\":t

[2015-04-16 07:14] suyash248 commented on #131
@apopp72  - It worked. Thanks.

[2015-04-16 19:35] #131 closed

[2015-04-19 07:17] zurez opened #157 "How do I send the saved data to server in json form ?"

[2015-04-19 07:18] zurez commented on #155
How are you sending data to server?

[2015-04-19 08:13] suyash248 commented on #157
Inside index.html (I'm working on Java web app. So I changed it to index.jsp), You will find following callback-
fb.on('save', function(payload){
  console.log(payload);
}

So here you need to write code to send the data to server, as follows -
fb.on('save', function(payload){
  console.log(payload);
  $.post(url,
            {
                payload: payload
            },
            function(r

[2015-04-20 14:50] bencagri commented on #155
For now, its not a good solution, but im sending data to hidden input inside form.  Formbuilder already generates the json output. Then I set hidden inputs' value with jquery.

inside fb.on('save') method just use $('#form_input').val(payload);
check this answer. https://github.com/dobtco/formbuilder/issues/154#issuecomment-90607231

[2015-05-03 11:47] sadhanadhande opened #158 "Integrating Ckeditor with formbuilder"
We are trying to add a new field with content options in the edit view called 'content'.

Code in templates/edit/content.html:

<div class='fb-edit-section-header'>Content</div> <textarea class='ckeditor' data-rv-input="model.<%= Formbuilder.options.mappings.CONTENT %>" /> </textarea>

And we have added mapping in main.coffee:

SIZE: 'field_options.size'

UNITS: 'field_options.units'

CONTENT: 'fi

[2015-05-07 14:29] ribeiroct opened #159 "Browserify-friendly npm package"
Hi,
This is some amazing work you have here.

The only problem I ran into is npm only being used to build the solution and not actually include dependencies to run it. So I can't install this through npm and use it with CommonJS, having it work through browserify for client-side code generation.

That said, I actually tried to do it myself but I think the code is not easily portable. Probably has

[2015-05-08 10:28] SteveChurch opened #160 "Drag & Drop Sort Order"
I'm a little confused and can not seem to find any information about this. When you drag and drop to move the ordering of your fields no data is stored in JSON to reflect this? If this a bug or a oversight on my side? - Why allow drag and dropping of field ordering if it does nothing?

[2015-05-08 10:31] SteveChurch commented on #148
You will need to parse the data from JSON into your own custom builder, have a look at this:

https://github.com/joshfire/jsonform

[2015-05-13 15:52] JMuhire commented on #108
Hello guys,

I am trying to use karma for an angular project unit tests but i get the same issue, does someone find a working fix for it ?

Thanks

[2015-05-14 07:52] SteveChurch commented on #157
Did you get this solved or require any further support?

[2015-05-15 14:06] SteveChurch opened #161 "BUG: Number - MIN MAX Fields"
Does not save the MIN MAX or Units fields into the JSON string... Trying to figure out where this is done :)

[2015-05-15 19:04] ivantowers opened #162 "How to show form to the end user"
Hello,

Im new using json, I already get the Json code to save in to a database and load it to modify the form.

But i dont know how to show the form to the end user in order to send the info.

I see some tools to build json form to html form but I can´t make it work. I get something like this:

{"fields":[{"label":"Name","field_type":"text","required":true,"field_options":{"size":"small"},"cid":"

[2015-05-18 10:48] SteveChurch commented on #162
I am currently working on a solution for this, however my solution is PHP based where the JSON is processed by a PHP controller which then renders a form for the end user. A Javascript alternative would be good for this project if anyone is willing to work on it? I have sent a email to the developer to see if he is working on this as in the notes it does say from last year this may be worked on. I

[2015-05-22 13:39] SteveChurch commented on #162
Well this is about as stale as a 1 year old loaf of bread this Git

[2015-05-24 00:45] jaysukhnm commented on #162
@ivantowers  you can post your json data through ajax and store this array of data in database,
when you want to display to enduser you can fetch from the database, i am going through this strategy.

[2015-05-26 13:38] spry-rproud commented on #69
Any update on when a solution for this might be available.  Tried fazman's workaround, but it doesn't seem to work with unique http endpoints.

[2015-05-26 16:22] Solitaryo opened #163 "Save output (payload) manually"
i want to know if there is a method (like fb.save()) to save the output of your form, not in an automatic way, thank you.

[2015-05-27 14:46] SteveChurch commented on #163
You could always use a:

[code]

within the formbuilder.js file.. Change ID to your button and you should be on for a good one.

[2015-05-29 20:00] dinho19sp opened #164 "Add table Customizable"
Hello, I would first like to congratulate for this framework, it is really good, however I ask for aid, must be created in FormBuilder A customizable table, or whether it will be added and the User will have autonomy to add rows and columns, but not I am very good at javascript, I wanted to know if there is some material that explains how to do this.

[2015-06-02 22:58] wesgen commented on #133
Hello did anyone figure out this?

[2015-06-03 09:48] SteveChurch commented on #162
@jaysukhnm - @ivantowers -I have now completed my form render which is part of a laravel project, took a while to create a function which iterated through the JSON array and it looks messy but it seems to do the job. My PHP is far better than my JS so it seamed the best option. However if anyone does come up with a JS option for this project that would be great!

[2015-06-09 10:25] laxmi-narayan-nitdgp opened #165 "FromBuilder Renders elements randomly ."
I am using form builder lib. But somehow lib renders the elements randomly . rather than the order in which it was created. Does it default behavior of lib or it could be customized or if there is any fault from my side.

[2015-06-12 17:29] arirah commented on #154
var form_data = {"fields":[{"label":"Google API","field_type":"text","required":true,"field_options":{"size":"small"},"cid":"c14"},{"label":"Do you have a website?","field_type":"website","required":false,"field_options":{"description":"vinnorokom.com"},"cid":"c1"},{"label":"Please enter your clearance number","field_type":"text","required":true,"field_options":{"description":"12109212"},"cid":"c6

[2015-06-12 18:35] SteveChurch commented on #154
I'm not at s computer at the moment but will give you a reply in a few days

Sent from my iPhone

[2015-06-12 18:39] arirah commented on #154
Ok .. but need a quick solution plz ..

[2015-06-12 21:13] SteveChurch commented on #154
Sorry bad accident with a friend won't be a few days.

Sent from my iPhone

[2015-06-14 04:53] arirah commented on #154
I am still waiting for solution

[2015-06-15 12:12] vidhyabala opened #167 "Need to add different type of fields a same as address fields"
When duplicating the address field i cant able to edit the html inside that.

For ex: i need to add a education qualification which contains the field degree name,date,grade and all.

Kindly tell me the solution for this

[2015-06-15 16:04] bencagri commented on #154
Seems like problem is here:

var form_data = {"fields":[{"label":"Google API","field_type":"text","required":true,"field_options":{"size":"small"},"cid":"c14"},{"label":"Do you have a website?","field_type":"website","required":false,"field_options":{"description":"vinnorokom.com"},"cid":"c1"},{"label":"Please enter your clearance number","field_type":"text","required":true,"field_options":{"descr

[2015-06-15 17:01] arirah commented on #154
Are you talking about  var form_inputs = '[<?php echo $forms; ?>]'; this line ??

Let me check !

[2015-06-15 18:07] arirah commented on #154
var form= [{"fields":[{"label":"Untitled","field_type":"text","required":true,"field_options":{"size":"small"},"cid":"c2"}]}];

Not working

[2015-06-16 03:16] smurfpandey commented on #154
Use this instead:

[code]

Working JSbin example: http://jsbin.com/jusurolocu/edit?html,css,js,output

[2015-06-16 03:50] smurfpandey commented on #167
Are you seeing any error?

[2015-06-16 04:02] arirah commented on #154
Thanks @smurfpandey .. Let me check.

[2015-06-16 08:05] smurfpandey commented on #156
@marvoh, can you please close this issue now?

[2015-06-16 08:25] vidhyabala commented on #167
There is no error but, i can't able to duplicate the fields

[2015-06-16 09:03] zurez commented on #157
Thanks for the reply. I just saw it. I will check it out.
Also is it possible to convert this into something like typeform? How hard it will be and what files do I need to change?

[2015-06-16 09:32] zurez opened #168 "How to add new options in formbuilder? I want to create a survey which has options like Picture Choice"

[2015-06-16 09:47] prakhar888v opened #169 "Can't use this integration"
I am new to this technology.
Can you please give step-by-step procedure to integrate this in my web-application.
I am not familiar with npm and node.

[2015-06-16 13:47] arirah commented on #154
YES you are right !  @smurfpandey . it is working .. Thank you very much

[2015-06-16 13:52] smurfpandey commented on #154
@bencagri Can you close this issue?

[2015-06-16 14:01] #154 closed

[2015-06-16 16:49] smurfpandey commented on #169
You check this https://github.com/dobtco/formbuilder/blob/gh-pages/index.html

[2015-06-16 16:50] smurfpandey commented on #167
Can you show your code, what you have done till now?

[2015-06-16 16:52] smurfpandey commented on #165
The library will render the elements in the same order as the JSON that you bootstrap it with. Check your JSON array if it's getting randomized somewhere.

[2015-06-17 15:37] #157 closed

[2015-06-18 06:01] vidhyabala commented on #157
Can anyone help me...
I need to create a field as same as the address field....when i duplicate the field i cant able to edit the html what we defined in script

[2015-06-24 11:51] SteveChurch commented on #165
They should be created in the order they are rendered on to the page. I have noticed that ordering does not work for me when changing the order because their if no specific option within the JSON/ Attributes to determine a display order so when I render mine they are in the initial order they fields were created with,.

I will work on adding this feature or at least looking to see if it is mean to

[2015-06-24 11:53] SteveChurch commented on #168
Before we look into how to help you can you provide a full description what you require and we can then point you in the right direction, if you look through the library you will see the template files and the main JS file which contains each of the fields and their respective code. These are all within a collection.

[2015-06-24 11:59] SteveChurch commented on #169
As @smurfpandey has mentioned you can see the example of this project, however could you please share more information about your integration and we can help you with implementing this or at least point you in the right direction with integration with databases, storing, retrieving and more.

[2015-06-24 12:06] SteveChurch commented on #162
Here you go, a preview of the final render, this is taking the json from a stored DB and rendering for view, responses are then stored in JSON again and processed into a database.
![screen shot 2015-06-24 at 13 05 20](https://cloud.githubusercontent.com/assets/458008/8329511/c6cd88de-1a71-11e5-89ff-7df855d63339.png)

This is PHP for my render, if you want more info @ivantowers let me know

[2015-06-24 12:07] SteveChurch commented on #160
Closing this, I will work on a solution and commit.

[2015-06-24 12:07] #160 closed

[2015-06-24 12:08] prakhar888v commented on #169
Everything good now.
Implemented it without any issues.

On Wed, Jun 24, 2015 at 5:29 PM, Steven Church notifications@github.com
wrote:

[2015-06-24 12:09] SteveChurch commented on #169
@prakhar888v excellent, could you please close this issue.

Thank you

[2015-06-24 12:15] SteveChurch commented on #151
@phimuskapsi Could you please post teh JSON which is posted also from the save function, also could you please paste your template file for the radio field.

[2015-06-24 12:16] SteveChurch commented on #135
@dzeriho Yes, could you explain a little more though, do you mean the initial form which is rendered when your FormBuilder is loaded? - We pull this from a database JSON string and parse it into the FormBuilder

[2015-06-24 12:17] SteveChurch commented on #147
@nishantvichhi Could you please explain more about your issue and offer a scenario for us to troubleshoot?

[2015-06-24 12:24] SteveChurch commented on #122
I have put together the functionality within PHP which could potentially be modified for your use, my JSON is stored in a DB and then rendered. However it is part of a laravel project. @ngelx @HackFisher @emilianox @leomx

[2015-06-24 13:04] laxmi-narayan-nitdgp commented on #165
Hi, Steve , I found the solution in the library itself .
Once the payload is created by library . we should call function "sort" to arrange them.
This is in build function.
' fv_form.mainView.collection.sort();'
I am facing another issue , i will log once it gets confirmed.

[2015-06-24 13:04] #165 closed

[2015-06-24 13:05] SteveChurch commented on #165
@laxmi-narayan-nitdgp
Excellent,

Thanks for the update.

[2015-06-24 13:27] #169 closed

[2015-06-30 16:12] Patatou opened #170 "Save problem again..."
Hi,

I want to save form content into data base, but i want give the name of database entry in parameter.

Try to do this, but not find...

Help welcome :'(

[2015-06-30 16:22] Patatou commented on #170
Or/And, how can i get the content form outside formBuilder.js (like method) ?

[2015-06-30 17:20] smurfpandey commented on #170
Step 1: Implement a handler for save event https://github.com/dobtco/formbuilder#save
Step 2: Call save method on the formbuilder object as `builder.saveForm();`

[2015-07-01 06:40] Patatou commented on #170
perfect ty !

[2015-07-01 06:40] #170 closed

[2015-07-01 06:42] Patatou opened #171 "Formbuilder and jquery"
Hi,

I'm using formbuilder with some other module requiert Jquery (like Fullcalendar, bootstrap...), and when place .js after all other, i've error like 'Tooltip is not a function' or 'fullcalendar is not a function'.

But, when i put formbuilder.js before the other, it doesn't work (drag and drop work, but nothing appear)....

Any idea ?

Ty

[2015-07-01 07:07] Patatou commented on #171
It's like that :
< script type="text/javascript"  src='../fullcalendar/lib/jquery.min.js'></script>

< script type="text/javascript"  src='../fullcalendar/lib/moment.min.js'></script>
< script type="text/javascript"  src='../fullcalendar/fullcalendar.min.js'></script>
< script type="text/javascript"  src='../fullcalendar/lang-all.js'></script>

< script type="text/javascript"  src='../js/bootstrap

[2015-07-01 07:12] Patatou commented on #171
Ok then, when i do this :+1:
jQuery.noConflict();
    (function( $ ) {
      $(function() {
                var formbuilder = new Formbuilder({ selector: '#formbuilder' });
     });
    })(jQuery);

Everything fine...

[2015-07-01 12:31] smurfpandey commented on #171
vendor.js already includes jquery, that might be causing the issue.

[2015-07-01 12:33] Patatou commented on #121
How do you use larryweya git ?!

I've this error : Uncaught SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode...

[2015-07-01 12:33] Patatou commented on #171
My solution is good, no ?

[2015-07-02 05:53] Nehace40 commented on #127
@devenkuswa Can you find solution? if yes than please post it how to do that

[2015-07-02 06:35] GopalakrishnanK opened #172 "How to add ''file'' field type.....?"

[2015-07-02 06:56] Nehace40 commented on #172
[code]

ADD this code in formbuider.js

[2015-07-02 07:08] #171 closed

[2015-07-02 07:10] Patatou opened #173 "Desactivate Jquery lib in vendor.js"
Hi,

How can i desactivate Jquery Lib use in Vendor.js (because I already include it in my file) ?

When I use "noconflict" option, I can't use some tools in "noconflict" pragma like tooltip or dialog.

Ty

[2015-07-02 07:52] GopalakrishnanK commented on #172
Hi thanks for your reply. Can u please tell me where to exactly place it. I'm getting an error like this.          PFA
![capture](https://cloud.githubusercontent.com/assets/10287362/8472257/3cf0becc-20bd-11e5-9d39-df8a4453231d.PNG)

[2015-07-02 07:54] Nehace40 commented on #172
In formbuider.js there is so many function of **registerField**.
 U can place between them

[2015-07-02 08:03] GopalakrishnanK commented on #172
k.... i guess i'm using older version of formbuilder.js because i don't
have any '_registerField' functions in formbuilder.js file._ PFA below.
This is my formbuilder.js file..........

On Thu, Jul 2, 2015 at 1:24 PM, ND17 notifications@github.com wrote:

##

Thanks,

Gopi

[2015-07-02 09:47] GopalakrishnanK opened #174 "how to edit & render my form.....?"

[2015-07-02 09:50] GopalakrishnanK commented on #174
Hi, i want to render form and enter data and save them to db. I want to know how to do it.....?

[2015-07-02 09:59] GopalakrishnanK commented on #172
Hi Sorry, previous one is wrong plugin...... now i've started to work with your plugin i just want to that can i render my saved forms and enter data and save them in db..?

[2015-07-02 10:00] GopalakrishnanK commented on #172
please suggest me how to do it...........?

[2015-07-02 10:09] ND17 commented on #172
First,These plugin is not mine,I m just user like you and about your problem save form in db i m working on it so sorry i dont know how to do that

[2015-07-02 11:04] smurfpandey commented on #172
Below links should help you.

https://github.com/dobtco/formbuilder/issues/170#issuecomment-117267021
https://github.com/dobtco/formbuilder/issues/157

[2015-07-02 11:04] smurfpandey commented on #173
Instead of using vendor.js, you can manually add all the dependencies. Check bower.json for dependencies
https://github.com/dobtco/formbuilder/blob/gh-pages/bower.json#L21

[2015-07-02 13:51] Patatou commented on #162
Don't know for Ivan, but i want more info !!! :)

When will you release this ?

It look great !

[2015-07-02 15:45] Gershy opened #175 "Document-level scrolling on add field"
Hello! I'll start by saying thanks for this awesome plugin. An issue I'm having is that I'm embedding it inside a page, in its own region that has scroll-bars to accommodate for the form getting long. This region is deeply embedded in the html markup of the page. When the user clicks to add a new field, I would like for this embedded region to scroll, but instead the entire document scrolls. I was

[2015-07-03 15:51] Patatou opened #176 "Clean up after save"
Hi,

Is it a method for clean form render (after save, or with a manually clean button) ?

Ty

[2015-07-03 15:52] Patatou commented on #173
Gonna try right now.

Ty

[2015-07-06 12:48] Gerboa commented on #162
It _does_ look good; the "All rights reserved" message might be worrying - is that the form or the renderer?

What does the resultant JSON data look like?

I really need the renderer in JavaScript, any news from @ajb?

[2015-07-08 04:37] smurfpandey commented on #173
@Patatou Did it work for you? If yes, please close this issue.

[2015-07-09 06:15] #173 closed

[2015-07-28 06:40] prasann opened #177 "Remove few attrs and input types from FormBuilder."
Is there an option to override default list of attributes been shown under an input type.

For example we may not need the size attribute for a 'Text' field.

And also is there a way to remove few input types.

Something like
<pre>unRegisterField('fieldName')</pre>

Thanks.

[2015-07-28 09:31] duoduodady opened #178 "How can I save the Field Range?"
I change the field layout ,and click the save button.
But the formbuilder show me the old layout.
Who can help me ?

[2015-07-28 14:52] smurfpandey commented on #178
Where are you saving your JSON? How you are loading the formbuilder with your JSON?

[2015-07-28 20:08] aishwaryashiva opened #179 "Unable to add new field option"
First of all this plugin is awesome. Great work guys . :+1:

I am trying to add a field option that will be available in all fields. Please tell me the correct steps to do it. I don't know much about the libraries used by this plugin. I only know about pure JavaScript and JQuery.

The details of my issue is here: http://stackoverflow.com/questions/31685866/unable-to-add-new-field-option-to-dobtco-

[2015-07-29 01:50] duoduodady commented on #178
[code]

That's all right.

Just like the Demo, I drag and change the "Security personnel #82?" Field to the second range.
Then Click the "Save Button".  "fn_FormBuilder.mainView.collection" is not changed,so I can not save the new  range of all the fields.

![image](https://cloud.githubusercontent.com/assets/13536089/8948165/9989e036-35d6-11e5-8587-f82fdc3d9d67.png)

[2015-07-29 02:04] duoduodady commented on #178
1.   I saved the payload to the database.  ------(It's OK)
2.   Init the form page to User by the payload string which is saved in the first step; ------(It's OK)
3.   if I  changed the field range only, and  repeated the first and second step.
      I get into trouble with the new range of  fields.

    Just as following The red Line Area

Can you help me ?

[2015-07-29 02:11] duoduodady commented on #178
The old range of field.

![Uploading fieldRange.png…]()

[2015-07-30 10:28] laxmi-narayan-nitdgp opened #180 "creating same cid in a single form"
i am using this lib . and it is giving the same cid for two different controls. is it expected behavior ??

[2015-07-31 14:24] smurfpandey commented on #180
If you edit a form later, then it is expected.
Check this issue for more detail https://github.com/dobtco/formbuilder/issues/123

[2015-08-12 10:32] jageshmk opened #181 "How to show only saved form ? how to enter values in form and save?"
Hi,

Right now, we are able to create form fields and edit but how can we show only form in separate page and get input for form fields.

Please suggest asap

Thank you!

[2015-08-18 15:44] asaf opened #182 "Deprecated?"
Hey,

I see there's no progress lately and the message in the README file is from 2014,

I was wondering if this project is deprecated and whether or not there is a progress with the new form builder that is based on top of ` formrenderer-base`,

Thanks.

[2015-08-20 09:09] derekang opened #183 "What is CID"
Looking to use this in formbuilder in an upcoming project. may i know what is cid?

[2015-08-20 09:22] SteveChurch commented on #183
CID is the elements DOM ID from what I am aware.

Steven Church // Kazoo http://kazoosoft.eu/Soft.eu http://kazoosoft.eu/ // Web Developer // SEO Specialist

[2015-08-28 15:05] LeandroFavero commented on #127
Add field name is a great idea, because in database field name is very different then label.

[2015-08-28 16:08] LeandroFavero commented on #182
Look V2 branch

[2015-08-31 11:19] raviji opened #184 "MySql api configration"
1. I have added a button field in the list, but am bit confusing to give edit option for that button.
2. I want to use json to mysql, how to turn this?

[2015-09-02 04:55] Arya18 opened #185 "Working of edit fields"
I cant understand that how you are rendering the fields in edit field section. As I want to make a new field with no common fields in "edit field" area, how can I do this ? Please help me.

[2015-09-15 12:56] Arya18 opened #186 "Why you have used rivets.js for binding when it can also be done by backbone ?"
One more thing apart from this problem I want to know is which function is finally making the HTML part.

[2015-09-16 13:39] csimpi commented on #126
What was the solution?

[2015-09-18 05:33] #186 closed

[2015-09-18 05:36] Arya18 opened #187 "Want to drag the elements inmultiple colums, How can I acheive it ?"
Currently when we drop an element it takes a whole row area and the second element comes in an another row. I want to put it in the multiple columns.

[2015-09-18 12:02] Arya18 commented on #170
@smurfpandey Could you please tell me that where it has started the initialization of draggable jquery event.
I want to achieve multi column functionality so that I can drop multiple elements in a single row.

[2015-09-18 12:04] Arya18 commented on #115
@ajb Could you pleasehelp me out to achieve multi column functionality so that I can drop multiple elements in a single row.
Thanks for an awesome plugin.

[2015-09-24 09:31] Raju009 opened #188 "How to call EditView if we place our HTML ??"
Hello
I am using formbuilder.js to create Landing pages in our application.
After saving I am taking the response field content and I am appending those content to different div Example its ID  "mydiv ".
Once I double click on that " mydiv " I am showing formbuilder with the  content .That time if I click on
". fb-field-wrapper "  its not calling Edit Tab and Edit Tab is full empty.
What is the so

[2015-09-26 12:13] RubSar commented on #20
In  Formbuilder.options change AUTOSAVE: true to false

[2015-10-09 07:55] karlkwok opened #189 "How can I get payload or json string without save"
I want to get a payload value or form json for make a real-time view form.

Thank you

[2015-10-09 08:34] karlkwok commented on #189
is ok now =]

[code]

It can gen the json string

[2015-10-10 19:33] KhaledSMQ opened #190 "In case ajax faile"
Hello every one

i just have qustion  in case responding for save (ajax) faile how i can deal with error message and view to end user.

thank you.

[2015-10-19 11:17] KhaledSMQ commented on #123
Hi, @larryweya @SongTanmay

i have solve this issue buy providing UUID for each element once i load data from DB to keep it as ID for the field , The form Builder  on save event  will look if element has CID if not will create new CID in order inside the DOM.

Please verify.

[code]

[2015-10-28 07:49] laxmi-narayan-nitdgp commented on #123
@KhaledSMQ
Can you provide lib code ??

[2015-11-02 19:54] bakki opened #191 "Porting formbuilder to Meteor"
First apologies to Adam for contacting you directly. I read Readme after emailing you. Sorry.
I cloned formbuilder and am browsing the code to determine the feasibility of porting the codebase over to Meteor. I see that the formbuilder is built on top of backbone, underscore and deep-model which would have to be replaced with Blaze, MongoDB/miniMongo collections. I am new to both platforms but don

[2015-11-03 05:55] ayub567 commented on #125
Thanks

[2015-11-10 16:31] gizgio opened #192 "checkboxe problem"
I have noticed that if i check the box of a checkboxes inside the edit field tab, the checked option are showed also in the corresponding element on the right side and the selections are also not coherent with the settings defined in the edit field tab
Is there any workaround to avoid to show the checked option in the corresponding element on the right side of the user interface?

[2015-11-11 13:55] #192 closed

[2015-11-12 06:18] safeerck commented on #176
$("#clear").click(function(){
            fb.mainView.collection.reset();
            $(".fb-field-wrapper").html('');
       });

[2015-11-13 08:14] hejob opened #193 "Is it safe to allow users to type special chars like html tags in labels?"
I am looking for a user-friendly form builder plugin and found this great project.
But I've found that the plugin at present allows users to input special html tags into any labels/descriptions/checkbox options/number units options (as I currently know, these are all) on the left edit panel.These will generate direct effects on the right panel.
Things will get even worse if users type some <script

[2015-11-20 05:06] abrarazeem commented on #126
What was the solution?

[2015-11-29 12:14] Bingo80 opened #194 "In Edit field, I only want to update data to model when I click on Save button. How can I do?"
At present, when I enter data in Edit field, system automatically updates data to model. However, I want to cancel change that I have just done some minutes ago but I can't do. So, what should I do?

[2015-12-10 03:44] ThangPk opened #195 "Save - JSON output does not the same order with the form build."
I saw the output of JSON on save event does not the same order with the form i build. Ex, i build the form with: 1. Checkbox, 2. TextBox, 3. Dropdown, but the output of json is not that order. Could you please help to resolve this one? Thanks.

[2015-12-15 08:23] walslayer commented on #195
I also noticed this anomaly!

[2015-12-15 18:04] vilanobeachflorida commented on #195
same here...

[2015-12-23 21:08] hmert opened #196 "i18n support of formbuilder"
Hi, is there a future plan that support `i18n`?

https://github.com/dobtco/formbuilder/blob/v2/src/scripts/main.coffee#L396

[2016-01-13 09:16] ceteongvanness opened #197 "How to store data into database by using form builder?"
How to store data into SQL database by using form builder ?

[2016-01-15 16:08] SudShekhar opened #198 "Getting started with development"
Hi,

I am trying to use the plugin for my own personal project but would like to customize it according to my needs. Can you please let me know how to build the file to include my changes? (And then the process to generate the distribution).

I tried node install but it seems there are a lot of dependency issues coming up. Specially with Karma versions. Can you please let me know some version whic

[2016-01-15 16:34] SudShekhar commented on #198
Got it working by removing all version details. Thanks

[2016-01-15 16:34] #198 closed

[2016-01-18 08:22] alcaponepl opened #199 "nested formbuilder (fields)"
Is there any solution to create nested field ? I want to create additional possibility to build a form'structure. I want to create a container which can be divdes by columns and rows. Then I want to put rest of fields in this cotainer.

[2016-01-18 12:14] raviji opened #200 "How to save as template a field and recall it again?"
I want to save a text field as ex: "First Name", and i can add this anytime later. Please help me on this

[2016-01-18 15:07] raviji commented on #97
i have the same issue. I want it to be unique id. Can any one help me on this?

[2016-01-19 04:36] sailendrakarki opened #201 "import predefined choice"

[2016-01-20 07:55] #199 closed

[2016-01-21 23:54] syksl14 commented on #116
Not working -_- @liliankasem

[2016-02-03 11:28] IndigoV opened #202 "Sorting of questions in forms"
We have a problem changing the order of items in the form builder. Once dragged it does not save the new placement. How do we manipulate/regenerate the json string based on the new order.

Please assist

[2016-02-20 23:44] timwis opened #203 "Save JSON in JSON-Schema spec"
Hey guys, forgive me if this has been suggested before, but if formbuilder saved its layout in the [JSON Schema](http://json-schema.org/) spec, we'd be able to use a multitude of tools to render the form, such as:
* http://ulion.github.io/jsonform/playground/
* http://jeremydorn.com/json-editor/
* http://schemaform.io/
* http://www.alpacajs.org/

Not sure if this is possible with the [customizatio

[2016-03-01 10:39] SummerWish opened #204 ""Add new field" disappears in latest Chrome Stable"
It works well, until I updated my Chrome recently to version 48.0.2564.116 (64-bit).
I can see "Add new field" in a flash at initialization, then it disappears. No error messages in console.

[2016-03-14 15:55] omerayoub commented on #77
You can add title to the form either by including it in your html page or by doing it the way I did:

Add the following function in your formbuilder.js file:

 (function() {
      Formbuilder.registerField('Title', {
      order: 1,
     view: "<h1></h1>",
     edit: "",
     addButton: '<span class="symbol"><span class=""></span style="color:white">Form Title</span> '
 });

[2016-04-01 17:12] ghost commented on #93
+1

[2016-04-09 04:27] ThangPk commented on #56
@sidburgess Hello Sid Burgess, I'm  also interesting on this feature of this library, did you have any solution for this? Thanks you.

[2016-04-12 02:10] ThangPk commented on #71
@ksudheer Hi, did you have any solutions for this one? I'm also interesting in this feature. Thanks you.

[2016-04-26 16:17] IgorReis opened #205 "Questions with levels"
How do I create linked questions in form?
I mean.

I need to create a question with 2 or more levels.

Do you practice sports?
  [ ] Yes
  [ ] No

  How Often? (If Yes)
    [ ] once a week
    [ ] twice a week
    [ ] Every Day

[2016-05-04 04:07] simfeng opened #206 "how to edit page property"
I want edit page property like edit fields,
is formbuilder has this function?

[2016-05-24 09:16] kreativcube opened #207 "Create 2nd fb-right"
Hi,
i need two places who can i drop the buttons. i need  2x fb-right places. woh can i make this wi 1 fb-left area.

who shoul dthis to save ?

[2016-06-28 10:59] perumalprabhup opened #208 "Form Builder"
how can i able to get the json data and stored in to a data base

[2016-07-22 12:13] mgomma opened #209 "build yaml instead of json"
We need the library export the form field settings in yaml format in ordar to integrate it in drupal module

[https://www.drupal.org/project/yamlform](yamlform)

[2016-08-28 11:10] omidakhavan opened #210 "Checkbox group"
hi
when add check box group and mark as required field all of the option must be checked to pass the form its tidy issue where can i fix this ?

[2016-08-29 09:42] max-kk commented on #208
use this php code:
`$json_data = file_get_contents('php://input');`

[2016-08-29 09:44] max-kk commented on #194
Find in formbuilder.js
`Formbuilder.options = {
      BUTTON_CLASS: 'fb-button',
      HTTP_ENDPOINT: '',
      HTTP_METHOD: 'POST',
      HTTP_SAVE_ACTION: '',
      HTTP_RESET_ACTION: '',
      AUTOSAVE: true,`

and change AUTOSAVE to **false**

[2016-08-29 09:47] max-kk commented on #190
Find in formbuilder.js
`BuilderView.prototype.doAjaxSave = function(payload) { ** }`
and play with it

[2016-08-29 13:23] kubasienki opened #211 "Sometimes custom field disapears"
We cannot find any regularities in such behavior. Simply from time to time my custom field disappears from form. here's code:
`function() {
  Formbuilder.registerField('thumb', {
    order: 15,
    view: "<% for (i in (rf.get(Formbuilder.options.mappings.OPTIONS) || [])) { %>\n      <div style=\"font:normal normal normal 14px/1 FontAwesome;\">\n	<% if (i==0){ %>  \n	<div class=\"fb-thumb-up a_<%=

[2016-08-29 13:34] kubasienki opened #212 "Sometimes field needs doubleclick to activate"
Problem arises when checkboxes are involved.

[2016-08-29 13:46] kubasienki opened #213 "Clicking on one field enables second field"
When i answer question in one field, the answer appears in second. It has something to do with checkboxes.

[2016-09-15 10:13] sumitkumargarg opened #214 "Contact"
Hello,
 How can i contact you for support creating dynamic webform in asp.net

[2016-09-24 21:00] timwis commented on #203
Hi!

[2016-10-14 11:39] timwis opened #215 "A new form builder library"
Hey folks, since it looks like this project isn't being maintained anymore, I started building [form-designer](https://github.com/timwis/form-designer) for a project I'm working on, and I wanted to get your feedback on how I design it to be more reusable. [Here's a demo](http://form-designer.surge.sh/).

I'm leveraging HTML5's `contenteditable` attribute to achieve what I hope is a more user-frien

[2016-10-18 07:33] pradeepasp commented on #197
You just need to get the formatted data from formbuilder and send to api to store.

you can use this below
`var formBuilder = {};
var template = document.getElementById('fb-template'),
formBuilder = $(template).formBuilder();
var formdata1 = formBuilder.data('formBuilder').formData;
        $.post('/Home/SaveFormBuilder', { formhtml: formdata1.toString()  }, function (result) {
//           your a

[2016-10-18 08:37] max-kk commented on #197
You need edit compiled or .coffe files.
Find function **doAjaxSave**

[code]

And need pass params on init (form, savin url, etc):

[code]

Function, that add param to URL.

[code]

This code is a few customized (added form titla and other changes), but you can see how it can be edited.
Some php functions are from Wordpress (wp_nonce_url, admin_url, etc), so change them, if not used WP.

Saving fo

[2016-11-04 09:19] HarveyKun opened #216 "Revert Drag and drop result"
I want to add a condition after the object is dragged and drop and revert the result.

Sample i have  5 questions where question 1 will skip to question 4 when answered. If the user has dragged and drop the question 4 to 1 it should alert the user that it is being used as skipped to question for 1, clicking Yes will remove the skipping logic for question 1, clicking No should revert the dragging r

[2017-01-10 22:56] glennpowell2 commented on #162
Is the php file attached anywhere for others to use @SteveChurch, I would be interested in this if your willing to share

[2017-01-16 10:14] max-kk commented on #162
Hi @glennpowell2

Look at this example, that renders form from JSON.

**Note** - I've added some more fields params that included in default package (like `$field->field_options->show_to, $field->width`, etc) so you need remove them from code.
Also some functions are Wordpress focused (apply_filters, sanitize_title, etc), so you need remove/replace them.

[code]

[2017-01-16 10:17] max-kk commented on #162
Some CSS code:

[code]

[2017-02-24 13:23] CurvesTech commented on #114
did you figure it out? I have disabled the auto save but want to trigger save manually in specific places.

[2017-04-07 06:30] Tialon commented on #181
I also encountered this problem,Do you have a solution??

[2017-12-18 16:30] wuhou-1 opened #222 "formbuilder"
Where is the page generated after the save? Why can't drag and drop generated controls can't be edited?Can't lose content in a text box?

[2018-02-13 20:14] shbz1690 opened #223 "using form builder in asp .net C# project"
I am running my asp .net/C# app in visual studio, how I can i include this in my app.

[2018-03-09 15:59] nop1984 opened #224 "Project is alive or not?"
subj

[2018-03-09 17:04] max-kk commented on #224
It is working for me, but development is dead.

[2018-03-09 17:46] nop1984 commented on #224
@max-kk thanks, thats what i wanted to know. Looks like its time for me to "invent a bike" for Angular2+ visual form building :)

[2018-05-01 11:56] zhangqingguang opened #225 "There is a bug"
main.coffee, line 77, should be 'change .js-default-updated': 'defaultUpdated'
![image](https://user-images.githubusercontent.com/7251871/39472087-a0a47f94-4d79-11e8-8216-5515e143d17f.png)

[2018-06-19 09:53] NormanEdance commented on #160
I know it's been while ago, but what kind of workaround it was? There's no events for drag'n'drop or smth to work with.

[2018-08-27 11:42] seeker322 opened #226 "edit-response-field"

[2018-08-29 02:09] zhangwei963 opened #227 "如何将表单保存生成可输入表单页"
将表单保存可以预览生成并打印表单

[2018-09-07 01:09] zx01785233 opened #228 "checkboxes click don't trigger change"
EditFieldView.prototype.defaultUpdated = function(e) {
			var $el;
			$el = $(e.currentTarget);
			if(this.model.get(Formbuilder.options.mappings.FIELD_TYPE) !== 'checkboxes') {
				this.$el.find(".js-default-updated").not($el).attr('checked', false).trigger('change');

			}else{
				this.$el.find(".js-default-updated").trigger('change');
			}
			return this.forceRender();
		};

[2018-09-24 10:19] dharmeshgamit2000 opened #229 "conditional fields"

[2018-09-24 10:20] dharmeshgamit2000 commented on #229
Hi Team,

I need to make a way to add a conditional component to this form builder, like if i select option A then this field should be display if i select option B then other fields need to display.

Any idea?

[2018-10-19 00:01] chirag-recognite opened #230 "Load an already created form into FormBuilder"
I have the data one gets in JSON format when a form is created. What if the user wishes to open a previously created form and further edit it? How does one go about doing that? Which function or component in FormBuilder.js does one need to work with?

[2018-10-19 07:24] max-kk commented on #230
Hi,

Here is some code example:

[code]

[2018-10-21 22:44] chirag-recognite commented on #230
BuilderView.prototype.initialize = function(options) {
      var selector;
      selector = options.selector,
      this.formBuilder = options.formBuilder,
      this.bootstrapData = options.bootstrapData;
      if (selector != null)
      {
        this.setElement($(selector));
      }
      this.collection = new FormbuilderCollection;
      this.collection.bind('add', this.addOne, this);
      t

[2018-12-03 07:31] Davidzhu001 commented on #152
@rhalim any solution?

[2018-12-12 02:37] #230 closed

[2018-12-12 02:39] chirag-recognite commented on #229
I know I am a bit too late. But I went to https://screendoor.dobt.co and I used their test form. They use the formbuilder and it is pretty kick ass and self explanatory. How did it go for you though?

[2019-03-11 11:50] MirShaon opened #232 "where i can get generated form code?"
After Drag and drop form elements I can see there all form data save, but my question is where I can get the generated code?

[2019-06-19 19:09] hashsalacop123 opened #234 "how can i add field type as hidden?"
I want to add a fieldtype hidden fields?

[2019-09-29 05:44] AlpeshValvi123 commented on #195
could you please solve same

[2020-01-07 13:39] chanakya009 opened #236 "How to add new tab button beside add new field"
I would like to create new tab button beside add new field where i will be adding new custom fields and
all the data for selector box will be coming from my data base

[2021-03-12 19:55] #153 closed

[2021-08-25 11:51] #196 closed

[2022-04-22 07:25] arashyarix commented on #162
Hi
Mr @max-kk, in Fv_Form_Helper  class, you used the "checked" function for checkbox input, but I can't find that. Can you send it here?
thank you